/* Button style */
.btn {
  font-size: 1.5em;
  font-family: $font-secondary;
  font-weight: 500;
  padding: 1.1em 1.8em;
  line-height: 1;
  border-radius: 50px;
  border: 2px solid;
  transition: 0.3s ease;
  margin-top: 10px;
  &-sm {
    padding: 0.9em 1.6em;
    font-size: 1em;
  }

  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    outline: 0;
    @extend .shadow;
    background: darken($color-primary, 5) !important;
    border-color: darken($color-primary, 5) !important;
  }
}

.spacybutton {
  padding-top: 1em;
}


.btn-description {
  font-size:larger;
  text-align: center;
  color: $color-primary;
  font-weight: 1000;
  padding-top: 5px;
  margin-bottom: 25px;
  width: 250px;
}

.btnsmallest {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  font-size: 1.0rem;
}

.btnsmall {
  transition-duration: 0.4s;
  border-radius: 12px;
  padding: 6px 20px;
  background-color: #2054a1;
  color: rgb(255, 255, 255);
  border: 2px solid #0c3d86;
  margin-inline: 0px;
  display: block;
  margin: 3px;
  //width: 150px !important;
  justify-content: center;
  
}

.btnsmall:hover {
  background-color: #ffffff; 
  color: rgb(9, 39, 73);
}

.flexless {
  width: 150px !important;
}

.btnleft {
  transition-duration: 0.4s;
  border-radius: 12px;
  padding: 6px 20px;
  background-color: #005172;
  color: rgb(255, 255, 255) !important;
  border: 2px solid #005172;
  margin-inline: 0px;
  display: block;
  width: 175px !important;
  justify-content: center;
  margin-top: 10px;  
}
.btnleft:a{
  color:white !important;
}
.btnleft:hover {
  background-color: #ffffff; 
  color: rgb(9, 39, 73) !important;
}


.mtgbtnwidth {
  width: 250px;
  display: inline-block;
}

.mtgbtnwidthm {
  display: inline-block;
  padding: 0.5em 0.8em;
}

.btn-small {
  font-size: 1em;
  margin-top: 10px;
  font-family: $font-secondary;
  font-weight: 500;
  padding: 0.5em 0.5em;
  line-height: 1;
  border-radius: 50px;
  border: 2px solid;
  transition: 0.3s ease;
  
  &-sm {
    padding: 0.9em 1.6em;
    font-size: 1em;
  }

  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    outline: 0;
    @extend .shadow;
    background: darken($color-primary, 5) !important;
    border-color: darken($color-primary, 5) !important;
  }
}


.btn-primary {
  background: $color-primary;
  color: $white;
  border-color: $color-primary;
}

.btn-outline-primary {
  color: $color-primary;
  border-color: $color-primary;
}

.btn-secondary {
  background: $color-secondary;
  color: $white;
  border-color: $color-secondary;
  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    background: darken($color-secondary, 5) !important;
    border-color: darken($color-secondary, 5) !important;
  }

}

.btn-outline-secondary {
  color: $color-secondary;
  border-color: $color-secondary;
  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    background: $color-secondary !important;
    border-color: $color-secondary !important;
  }
}

.btn-link {
  color: $color-primary;
  text-decoration: none;

  i,
  svg {
    font-size: 12px;
    margin-left: 5px;
    margin-bottom: 1px;
    transition: 0.2s ease;
  }

  &:active,
  &:hover,
  &.focus,
  &.active {
    color: $color-primary;

    i,
    svg {
      margin-left: 10px;
    }
  }
}

.center-page{
  justify-content: center;
  text-align: center;
}

.c-button {

  background: #fff;
  border: none;
  padding: 10px 20px;
  display: inline-block;
  font-size: 15px;
  color: #005172;
  font-weight: 600;
  width: 120px;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 7px;
  line-height: 1;
  transition: 0.3s ease;

  &-sm {
    padding: 0.9em 1.6em;
    font-size: 1em;
  }

  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    outline: 0;
    @extend .shadow;
    background: darken($color-primary, 5) !important;
    border-color: darken($color-primary, 5) !important;
  }
  transform: skew(-21deg);
}

.c-button::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  //background: rgb(19, 71, 167);
  background-color: #005172;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

.c-button:hover {
  color: #fff;
}

.c-button:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}