html {
  font-size: 1.5rem;
}

// body {
//   font-family: $font-primary;
//   font-weight: 400;
//   line-height: 1.35;
//   color: $text-color;
//   background-color: $body-bg;
//   overflow-x: hidden;
// }

  
b,
strong {
  font-weight: 700;
}

p {
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
  padding-top: 0.5rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  color: $darkest-blue;
}

small,
.small {
  font-size: 0.8rem;
}

// List in descending order to prevent extra sort function
$type-levels: 6, 5, 4, 3, 2, 1;

@each $level in $type-levels {
  $font-size: $font-size * $font-scale;

  // Output heading styles
  h#{$level},
  .h#{$level} {
    font-size: $font-size;
    line-height: calc(2px + 2ex + 2px);
    margin-bottom: 0.65em;

    // responsive for h1, h2, h3, h4
    &:not(h5, .h5, h6, .h6) {
      @include desktop {
        font-size: calc(#{$font-size} * 0.9);
        margin-bottom: 0.55em;
      }

      @include tablet {
        font-size: calc(#{$font-size} * 0.8);
      }
    }

    // responsive for h5, h6
    @include desktop {
      font-size: calc(#{$font-size} * 0.95);
      margin-bottom: 0.55em;
    }

    @include tablet {
      font-size: calc(#{$font-size} * 0.9);
    }
  }
}

// typo for dark mode
body.dark {
  color: $dark-text-color !important;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $dark-text-dark;
  }
}

.eventdescription {
  font-size:larger;
  text-align: center;
  font-weight: 1000;
}


.bigimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.larger {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: x-large;
}

.filter-range {
  background-color: azure;
  padding-top: 0px;
  padding-left: 8px;
  padding-bottom: 0px;
  margin-left: 25px;
  text-indent: 0px;
  font-size: 1.0em;
}

.filter-range p {
  margin-bottom: 0rem;
  margin-left: 25px;
  text-indent: -5px;
}


.filter-box {
  padding-right: 1.0rem;
  padding-left: 0.2rem;
}

input[type=checkbox] {
  transform: scale(1.5);
}

.class-cards {
  padding-top: 0.5rem;
  margin-bottom: 1rem;
  margin: 0 auto;
  width: 100%;
}

span.level-elite {
  color: blue;
}

span.level-elite a {
    color: blue;
}

span.level-cadets {
  color: green;
}

span.level-cadets a {
    color: green;
}

span.level-sculptors {
  color: blue;
}

span.level-sculptors a {
    color: blue;
}

span.level-sorcerers {
  color: blue;
}

span.level-sorcerers a {
    color: blue;
}

span.level-architects {
  color: violet;
}

span.level-architects a {
    color: violet;
}

span.level-forgers {
  color: green;
}

span.level-forgers a {
    color: green;
}

span.level-maestros {
  color: violet;
}

span.level-maestros a {
    color: violet;
}

span.level-competition {
  color: goldenrod;
}

span.level-competition a {
    color: goldenrod;
}

span.level-researchers {
  color: violet;
}

span.level-researchers a {
    color: violet;
}

span.level-rookies {
  color: green;
}

span.level-rookies a {
    color: green;
}

div.fullclass {
  text-align: center;
  color:darkcyan;
}