{{- $url := .Permalink -}}
{{ $organizerName := or .Params.organizer_name .Site.Title "Blue Ridge Boost" }}
{{ $organizerURL := or .Params.organizer_url .Site.BaseURL $url }}    
{{- $description := trim (plainify (default "" (or .Params.description .Summary))) " \n\r\t" -}}
{{ $serviceData := dict
    "@context" "https://schema.org"
    "@type" "Service"
    "name" (or .Params.page_title .Title)
    "description" $description
    "url" $url
    "provider" (dict
        "@type" "Organization"
        "name" $organizerName
        "url" $organizerURL
    )
    "areaServed" (dict
        "@type" "Place"
        "name" "Charlottesville, VA"
    )
    "offers" (dict
        "@type" "Offer"
        "price" (printf "%.2f" (float (default 0 .Params.price)))
        "priceCurrency" "USD"
        "availability" "https://schema.org/InStock"
        "url" $url
    )
    "potentialAction" (dict
        "@type" "ReserveAction"
        "target" (dict
            "@type" "EntryPoint"
            "urlTemplate" $url
            "actionPlatform" (slice
            "https://schema.org/DesktopWebPlatform"
            "https://schema.org/MobileWebPlatform"
            )
            "inLanguage" "en"
        )
    )
}}