{{ $dayTags := .Params.day_tags }}
{{ $scheduleTags := .Params.schedule_tags }}
{{ $gradeTags := .Params.grade_tags }}
{{ $subjectTags := .Params.subject_tags }}
{{ if $dayTags }}
    data-day='{{ delimit $dayTags "#" }}'
{{ else }}
    data-day='[]'
{{ end }}
{{ with .Params.duration }}
    data-duration='{{ . }}'
{{ else }}
    data-duration='[]'
{{ end }}
data-schedule='{{ with $scheduleTags }}{{ delimit . "#" }}{{ else }}[]{{ end }}'
data-grade='{{ with $gradeTags }}{{ delimit . "#" }}{{ else }}[]{{ end }}'
data-subject='{{ with $subjectTags }}{{ delimit . "#" }}{{ else }}[]{{ end }}'