{{define "main"}}

{{ partial "page-header.html" . }}

<section id="chess" class="section">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Group Chess Classes</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>
                    We are excited to start a chess program for our more dedicated players, who are ready to learn more
                    about the game and improve their skills. <br>
                    The classes start at 10 am with a 45 minutes lesson, followed by three 15-minute games. The pickup
                    time is 12:00.<br>
                    The classes are held at Blue Ridge Boost and are taught by Daniel Wurtzer. <br>
                </p>
                <p>
                <blockquote
                    style="font-size: 0.9em; color: #333; border-left: 5px solid #ccc; padding-left: 10px; margin: 0;">
                    Hello my name is Daniel Wurzer and I am excited to teach chess lessons at Blue Ridge Boost this
                    fall.
                    I am originally from Austria and I have played chess since I was 6 years old.
                    For the last 10 years I have been playing at the Charlottesville Chess Club.
                    I focus on strategy, creativity & converting early advantages into wins.
                    I strive to create a positive learning atmosphere, using examples as well as analyzing games to
                    help you achieve your goals and enjoy the game. </blockquote>
                </p>
            </div>
        </div>
        <div class="row">
            <div><script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?106136041&data_platform=code"
                charset="utf-8"></script><script type="text/javascript">
                xProductBrowser("views=grid(20,5) list(60) table(60)","categoryView=grid","id=my-store-106136041", 
                "defaultCategoryId=175336108");</script></div>
                </div>
            {{/*  <div class="col-12">
                <div class="class-cards">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 rows-cols-lg-3 row-cols-xl-3 g-3">
                        {{ range .Pages }}
                        {{ if gt .Params.featured 0}}
                        {{ partial "class-card" . }}
                        {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>  */}}
        </div>
    </div>

    {{/*  <div class="container" id="game-time">
        <div class="row">
            <div class="col-12">
                <p></p>
                <h2>Chess Club Game Time</h2>
                <p>Welcome children ages 6-12 for exciting chess sessions! Join us for two hours of strategic fun at
                    Blue Ridge Boost.</p>
                Our club offers:
                <ul>
                    <li>A friendly environment for chess enthusiasts</li>
                    <li>Opportunities to play with like-minded peers</li>
                    <li>Basic guidance for beginners learning the rules</li>
                </ul>
                <p>Please note: This club is best suited for children who genuinely enjoy chess and can engage in
                    focused gameplay.
                    While we provide a supportive atmosphere, we do not offer formal instruction.
                    If your child has a short attention span or limited interest in chess, this may not be the ideal
                    activity for them.</p>
                <p><b>Schedule.</b> The first hour is dedicated to two-player chess.
                    For the second hour, participants may choose between standard two-player chess and chess variants,
                    including dice chess and four player chess.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>
                    <b>Drop off</b> at 4:30. <b>Pick up before</b> 6:30.
                </p>
                <p>Click on one of the dates below to add the date to the shopping cart. Do not forget to complete the
                    signup by checking out.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="class-cards">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 rows-cols-lg-3 row-cols-xl-3 g-3">
                    {{ range .Pages }}
                        {{ if eq .Params.featured 0}}
                            {{ partial "chess-club-card.html" . }}
                        {{ end }}
                    {{ end }}
                    </div>
                </div>
            </div> 
        </div>
    </div>

    {{ partial "chess-rules" . }}  */}}
</section>

{{end}}