{{ define "main" }}

<div class="container p-2">
    <div class="row">
        <div class="col">
            {{ .Content}}
        </div>
    </div>

    {{ range .Params.scholarships }}
        <div class="row">
            <div class="col-12 p-2 darknote"> <center>{{ .name }}</center></div>
        </div>
        <div class="row" style="padding-bottom: 1em;">
            <div class="col-3" style="padding: 0.5em; margin: auto; justify-content: center;">
                {{ partial "image" (dict "Src" .photo "Alt" .alt "Size" "200x200") }}
            </div>
            <div class="col-9"> 
                <p>{{ .text }} </p>
                <p> Previous awardees include: {{ .awardees }}. </p>
                <p> <a href="{{ .apply | safeURL }}" title="{{ .name }}" class="btn-small btn-outline-primary m-2">Apply here</a>
            </div>
        </div>    
    {{ end }}

{{ end }}