.chessshade {
  background-color: tan;
}
  
.grshade {
  background-color: Lavender;
}

.grPKKshade {
  background-color: lightcoral;
}

.gr12shade {
  background-color: mistyrose;
}

.gr34shade {
  background-color: peachpuff;
} 

.grK2shade {
  background-color: mistyrose;
}

.gr35shade {
  background-color: peachpuff;
}
  
.gr56shade {
  background-color: lightgoldenrodyellow;
}

.gr68shade {
  background-color: #95dcb8;
}

.gr78shade {
  background-color: #95dcb8;
}
  
.above-md {
  display: none;
}
  
.below-md {
  display: inline;
}
  

.monday { 
  display: grid; 
  text-align: center;
  align-items: stretch center;
  grid-template-columns: 0.2fr 1.2fr 1.2fr 1.2fr; 
  grid-template-rows: 2em auto; 
  gap: 5px 5px;
  grid-template-areas: 
    "day day day day"
    "time1 class3 class6 class1"
    "time2 class3 class6 class1"
    "time3 class3 class6 ."
    "time4 class4 class4 class4"
    "time5 class4 class4 class4"
    "time6 class4 class4 class4"; 
}
  
.tuesday { 
  display: grid; 
  text-align: center;
  grid-template-columns: 0.2fr 1.2fr 1.2fr 1.2fr; 
  grid-template-rows: 2em auto; 
  gap: 5px 5px;
  grid-template-areas: 
    "day day day day"
    "time1 . . ."
  "time2 . . ."
  "time3 class3 class2 class2"
  "time4 class3 class2 class2"
}
  
.wednesday { 
  display: grid; 
  text-align: center;
  grid-template-columns: 0.2fr 1.2fr 1.2fr 1.2fr; 
  grid-template-rows: 2em auto; 
  gap: 5px 5px;
  grid-template-areas: 
    "day day day day"
    "time1 class1 class1 class2"
    "time2 class1 class1 class2" 
    "time3 class3 class3 class3"
    "time4 class3 class3 class3"
    "time5 class6 class6 class6"
    "time6 class6 class6 class6"; 
}
  
.friday { 
  display: grid; 
  text-align: center;
  grid-template-columns: 0.2fr 1.2fr 1.2fr 1.2fr; 
  grid-template-rows: 2em auto; 
  gap: 5px 5px;
  grid-template-areas: 
  "day day day day"
  "time1 class1 . ."
  "time2 class1 class2 class7"
  "time3 class1 class2 class7"
  "time4 class1 class2 class7"
  "time5 class10 class10 class10"
  "time6 class10 class10 class10"
  "time7 class10 class10 class10"
  "time8 class10 class10 class10"
  "time9 class10 class10 class10";
}
  
.saturday { 
  display: grid; 
  text-align: center;
  grid-template-columns: 0.2fr 1.2fr 1.2fr 1.2fr; 
  grid-template-rows: 2em auto; 
  gap: 5px 5px;
  grid-template-areas: 
  "day day day day"
  "time1 class1 class1 class1"
  "time2 class4 class4 class4"
  "time4 class9 class9 class9"
  "time5 class11 class11 class11"
  "time7 class13 class13 class14"
  "time8 class15 class15 class17"
  "time9 class15 class15 .";
}
  
.sunday { 
  display: grid; 
  text-align: center;
  grid-template-columns: 0.2fr 1.2fr 1.2fr 1.2fr; 
  grid-template-rows: 2em auto; 
  gap: 5px 5px;
  grid-template-areas: 
    "day day day day"
    "time1 class1 class1 class1" 
    "time2 class5 class5 class5" 
    "time3 . class13 class20"
    "time4 class9 class13 class20"
    "time5 class9 class21 class21"
    "time6 class15 class12 class12"
    "time7 class15 class2 class2"
    "time8 . class2 class2"
    "time9 class19 class18 class17";
}

.thursday{
  display: grid; 
  text-align: center;
  grid-template-columns: 0.2fr 1.2fr 1.2fr 1.2fr; 
  grid-template-rows: 2em auto; 
  gap: 5px 5px;
  grid-template-areas: 
    "day day day day"
    "time1 class1 class1 class1"; 
}
  
.umonday { 
  display: grid; 
  text-align: center;
  align-items: stretch center;
  grid-template-columns: 0.2fr 1.2fr 1.2fr 1.2fr; 
  grid-template-rows: 2em auto; 
  gap: 5px 5px;
  grid-template-areas: 
    "day day day day"
    "time1 class1 class1 class1"
    "time2 class1 class1 class1"
    "time3 . . ."
    "time4 class7 class7 class7"
    "time5 class7 class7 class7"
    "time6 class7 class7 class7"; 
}
  
.utuesday { 
  display: grid; 
  text-align: center;
  grid-template-columns: 0.2fr 1.2fr 1.2fr 1.2fr; 
  grid-template-rows: 2em auto; 
  gap: 5px 5px;
  grid-template-areas: 
  "day day day day"
  "time1 . . ."
  "time2 . . ."
  "time3 class3 class2 class2"
  "time4 class3 class2 class2"; 
}
  
.uwednesday { 
  display: grid; 
  text-align: center;
  grid-template-columns: 0.2fr 1.2fr 1.2fr 1.2fr; 
  grid-template-rows: 2em auto; 
  gap: 5px 5px;
  grid-template-areas: 
    "day day day day"
    "time1 class7 class7 class7" 
    "time2 class8 class8 class8"
    "time3 . . ."; 
}
  
.ufriday { 
  display: grid; 
  text-align: center;
  grid-template-columns: 0.2fr 1.2fr 1.2fr 1.2fr; 
  grid-template-rows: 2em auto; 
  gap: 5px 5px;
  grid-template-areas: 
  "day day day day"
  "time1 . . ."
  "time2 class2 class2 class7"
  "time3 class2 class2 class7"
  "time4 class2 class2 class7"
  "time5 class10 class10 class10"
  "time6 class10 class10 class10"
  "time7 class10 class10 class10"
  "time8 class10 class10 class10"
  "time9 class10 class10 class10";
}
  
.usaturday { 
  display: grid; 
  text-align: center;
  grid-template-columns: 0.2fr 1.2fr 1.2fr 1.2fr; 
  grid-template-rows: 2em auto; 
  gap: 5px 5px;
  grid-template-areas: 
  "day day day day"
  "time1 . . ."
  "time2 . . ."
  "time3 . . ."
  "time4 class7 class7 ."
  "time5 class7 class7 class10"
  "time6 class12 class12 class10"
  "time7 class12 class12 ."
  "time8 . . ."
  "time9 . . .";
}

.uthursday{
  display: grid; 
  text-align: center;
  grid-template-columns: 0.2fr 1.2fr 1.2fr 1.2fr; 
  grid-template-rows: 2em auto; 
  gap: 5px 5px;
  grid-template-areas: 
    "day day day day"
    "time1 class1 class1 class1"; 
}

.usunday { 
  display: grid; 
  text-align: center;
  grid-template-columns: 0.2fr 1.2fr 1.2fr 1.2fr; 
  grid-template-rows: 2em auto; 
  gap: 5px 5px;
  grid-template-areas: 
    "day day day day"
    "time1 . . ." 
    "time2 class4 class4 class13" 
    "time3 class4 class4 class7"
    "time4 . . class7"
    "time5 class10 class10 class10"
    "time6 class22 class22 class22"
    "time7 class22 class22 class22"
    "time8 . . ."
    "time9 . . .";
}
