.chessshade {
  background-color: tan;
}
  
.grshade {
  background-color: Lavender;
}

.grPKKshade {
  background-color: lightcoral;
}

.gr12shade {
  background-color: mistyrose;
}

.gr34shade {
  background-color: peachpuff;
} 

.grK2shade {
  background-color: mistyrose;
}

.gr35shade {
  background-color: peachpuff;
}
  
.gr56shade {
  background-color: lightgoldenrodyellow;
}

.gr68shade {
  background-color: #95dcb8;
}

.gr78shade {
  background-color: #95dcb8;
}
  
.above-md {
  display: none;
}
  
.below-md {
  display: inline;
}
  

