{{ $selected_subject := .Params.selected_subject }}
{{ $selected_schedule := .Params.selected_schedule }}

<div class="filter-range" style="width: 95%;">
    <em>Filter Classes:</em>
    <p>
         <b>Grade:&nbsp;&nbsp;</b>
        {{ range $tag := (slice "1st" "2nd" "3rd" "4th" "5th" "6th" "7th" "8th" "9th" "10th" "11th" "12th") }}
        <label>
            <span class="filter-box">
                <input type="checkbox" class="grade-filter" value="{{ $tag }}" onchange="filterClasses()"> {{ $tag }}
            </span>
        </label>
        {{ end }}
    </p>
    <p>
        <b>Day:&nbsp;&nbsp;</b>
        {{ range $tag := (slice "Monday" "Tuesday" "Wednesday" "Thursday" "Friday" "Saturday" "Sunday") }}
        <label>
            <span class="filter-box">
                <input type="checkbox" class="day-filter" value="{{ $tag }}" onchange="filterClasses()"> {{ $tag }}
            </span>
        </label>
        {{ end }}
    </p>
    <p>
        <b>Subject:&nbsp;&nbsp;</b>
        {{ range $tag := (slice "Math" "Robotics" "Game Development" "AI" "Computer Coding" "Science" ) }}
        <label>
            <span class="filter-box">
                <input type="checkbox" 
                class="subject-filter" 
                value="{{ $tag }}" 
                {{ if eq $selected_subject $tag }} 
                    checked
                {{ end }}
                onchange="filterClasses()"> {{ $tag }}
            </span>
        </label>
        {{ end }}
    </p>
    <p>
        <b>Schedule Type:&nbsp;&nbsp;</b>
        {{ range $tag := (slice "Starting Soon" "On-Demand" "Join Now" ) }}
        <label>
            <span class="filter-box">
                <input type="checkbox" 
                class="schedule-filter" 
                value="{{ $tag }}" 
                {{ if eq $selected_schedule $tag }} 
                    checked
                {{ end }}
                onchange="filterClasses()"> {{ $tag }}
            </span>
        </label>
        {{ end }}
    </p>
    <p>
        <b>Duration:&nbsp;&nbsp;</b>
        {{ range $tag := (slice "1 Session" "4 weeks" "6 weeks" "8 weeks" "2 to 3 Months" "4 to 6 Months" "6 Months+" ) }}
        <label>
            <span class="filter-box">
                <input type="checkbox" 
                class="duration-filter" 
                value="{{ $tag }}" 
                onchange="filterClasses()"> {{ $tag }}
            </span>
        </label>
        {{ end }}
    </p>
</div>