{{ $page := . }}
{{ $id := $page.Params.ecwid }}

<div
    id="class-{{ $id }}"
    style="padding-left: 0px; padding-right: 0px; margin-right: 0.25rem; margin-left: 0.25rem;"
    class="ecsp-media"
    {{ partial "class-card-helpers/attributes.html" . | safeHTMLAttr }}
>
    {{ with $page.Params.ribbon }}
        <span class="ecsp-ribbon">{{ . }}</span>
    {{ end }}

    <div
    class="ecsp ecsp-SingleProduct-v2 ecsp-SingleProduct-v2-bordered ecsp-SingleProduct-v2-centered ecsp-Product ec-Product-{{ $id }}"
    itemscope
    itemtype="https://schema.org/Product"
    data-single-product-id="{{ $id }}"
    >
        <meta itemprop="name" content="{{ $page.Params.page_title }}">
        <a href="{{ $page.RelPermalink }}" class="ecsp-image-link">
            <div class="ecsp-image" itemprop="image"></div>
        </a>
        {{ partial "class-card-helpers/day.html" .}}
        {{ partial "class-card-helpers/time.html" .}}
        {{ partial "class-card-helpers/grades.html" .}}
        {{ partial "class-card-helpers/offer-microdata.html" . }}
        {{ $isOnDemand := false }}
        {{ with .Params.schedule_tags }}
            {{ if in . "On-Demand" }}
                {{ $isOnDemand = true }}
            {{ end }}
        {{ end }}
        {{ if not $isOnDemand }}
           {{ $eventData := partial "class-card-helpers/build-json/build-scheduled-event.html" . }}
            <script type="application/ld+json">
                {{ $eventData | jsonify }}
            </script>
        {{ else }}
            {{ $serviceData := partial "class-card-helpers/build-json/build-unscheduled-event.html" . }}
            <script type="application/ld+json">
                {{ $serviceData | jsonify | safeHTML }}
            </script>
        {{ end }}
    </div>

<!-- Optional: mirror Ecwid image into Product microdata so parsers can see it -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var productEl = document.querySelector('.ec-Product-{{ $id }}[itemtype="https://schema.org/Product"]');
        if (!productEl) return;
        function setProductImageMeta(url) {
            if (!url) return;
            var m = productEl.querySelector('meta[itemprop="image"]');
            if (!m) {
                m = document.createElement('meta');
                m.setAttribute('itemprop', 'image');
                productEl.prepend(m);
            }
            m.setAttribute('content', url);
        }
        function tagImg() {
            var img = productEl.querySelector('img');
            if (img) {
                if (!img.hasAttribute('itemprop')) img.setAttribute('itemprop', 'image');
                setProductImageMeta(img.currentSrc || img.src);
            }
        }
        tagImg();
        var obs = new MutationObserver(tagImg);
        obs.observe(productEl, { childList: true, subtree: true });
    });
</script>

<script type="text/javascript">
    window.ec = window.ec || {};
    window.ec.storefront = window.ec.storefront || {};
    window.ec.storefront.enable_navigation = true;
    window.ec.storefront.product_details_layout = "THREE_COLUMNS_SIDEBAR_ON_THE_RIGHT";
    window.ec.storefront.product_details_gallery_layout = "SINGLE_IMAGE";
    window.ec.storefront.product_details_two_columns_with_right_sidebar_show_product_description_on_sidebar = false;
    window.ec.storefront.product_details_two_columns_with_left_sidebar_show_product_description_on_sidebar = false;
    window.ec.storefront.product_details_show_product_name = true;
    window.ec.storefront.product_details_show_breadcrumbs = false;
    window.ec.storefront.product_details_show_product_sku = false;
    window.ec.storefront.product_details_show_product_price = true;
    window.ec.storefront.product_details_show_in_stock_label = true;
    window.ec.storefront.product_details_show_number_of_items_in_stock = true;
    window.ec.storefront.product_details_show_qty = false;
    window.ec.storefront.product_details_show_wholesale_prices = false;
    window.ec.storefront.product_details_show_product_options = true;
    window.ec.storefront.product_details_show_product_description = true;
    window.ec.storefront.product_details_show_delivery_time = undefined;
    window.ec.storefront.product_details_show_share_buttons = false;
    window.ec.storefront.product_details_position_product_name = 100;
    window.ec.storefront.product_details_position_breadcrumbs = 200;
    window.ec.storefront.product_details_position_product_sku = 300;
    window.ec.storefront.product_details_position_product_price = 400;
    window.ec.storefront.product_details_position_product_options = undefined;
    window.ec.storefront.product_details_position_buy_button = 600;
    window.ec.storefront.product_details_position_wholesale_prices = 700;
    window.ec.storefront.product_details_position_product_description = 900;
    window.ec.storefront.product_details_position_delivery_time = undefined;
    window.ec.storefront.product_details_position_share_buttons = 800;
    window.ec.storefront.product_details_position_subtitle = 500;
    window.ec.storefront.product_details_show_subtitle = true;
</script>
<script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?106136041&data_platform=singleproduct_v2" charset="utf-8"></script>
<script type="text/javascript">xProduct()</script>
</div> <!-- end class card -->