{{ $id := .Params.ecwid }}
<div
    class = "card"
    id = "class-{{ $id }}"
    data-day='{{ delimit .Params.day_tags "#" }}' 
    data-grade='{{ delimit .Params.grade_tags "#" }}' 
    data-subject='{{ delimit .Params.subject_tags "#" }}'
    style="padding-left: 0px; padding-right:0px; margin-right:0.25rem; margin-left:0.25rem; width: 17rem;"
    >
    <div class="card-header">
        
        <img src="/images/classes{{ .Params.product_image }}" class="card-img-top" alt="{{ .Params.page_title }} image"  />
        <h5 class="card-title">
        <a href="{{ .RelPermalink }}"><b>
        {{ .Params.page_title }}
        </b></a>
        </h5>
        {{ if eq .Params.page_subtitle "undefined" }}
        {{ else }}
        <h6 class="card-subtitle mb-2 text-muted">
        {{ .Params.page_subtitle }}
        </h6>
        {{ end }}
    </div>
    <div class="card-body">
        {{ partial "class-info.html" . }}
    </div>
    <div class="card-footer">
        {{ if eq .Params.category "Subscription Classes" }}
            {{ partial "subscription-class-footer.html" . }}
        {{ else }}
            {{ if eq .Params.category "Single Class" }}
                {{ partial "single-class-footer.html" . }}
            {{ else }}
                {{ partial "session-class-footer.html" .}}
            {{ end }}
        {{ end }}
    </div>
</div>
