<footer class="bg-light section pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-11">        
        <div class="section pt-0">
          <div class="row gy-4">
            <div class="col-lg-7 col-sm-14">
              <p class="mb-4">{{ site.Params.footer_content | markdownify }}</p>
            </div>
            <div class="col-lg-1 col-sm-2"></div>
            <div class="col-lg-4 col-sm-8">
              <div class="small-spacer"></div>
              <a class="d-block h5 mb-3" href="{{ site.BaseURL | absLangURL}}">
                Blue Ridge Boost &nbsp; {{ partial "logo.html" }} 
              </a>
              <p class="mb-4">2171 Ivy Rd<br>Charlottesville, VA 22903 <br>
                (434)260-0636<br>
                <a href="mailto:nora@blueridgeboost.com">nora@blueridgeboost.com</a>
              </p>
              {{ with site.Params.social }}
              <ul class="list-inline social-icons">
                {{ range . }}
                <li class="list-inline-item"><a href="{{ .link | safeURL }}" title="{{ .title }}"><i
                      class="{{ .icon }}"></i></a></li>
                {{ end }}
              </ul>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>