<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P7DGRH54"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
<!-- navigation -->
<!-- Shopping Cart -->
<div class="ec-cart-widget" data-icon="CART" data-fixed="TRUE" data-fixed-position="TOP_RIGHT"></div>
<script data-cfasync="false" 
    type="text/javascript" 
    src="https://app.ecwid.com/script.js?{{ .Site.Params.ecwid_store_id }}&data_platform=code" 
    charset="utf-8">
  </script>
<script type="text/javascript">Ecwid.init();</script>
