<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>{{ .name }}</h3>
            <p><b>{{ .role | markdownify }}</b></p>
        </div>
    </div>
    <h4></h4>
    <div class="row">
        <div class="col-3">
            {{ partial "image" (dict "Src" .photo "Alt" 
                                        .name "Size" "200x300") }}
        </div>
        <div class="col-9">
                <p> {{ .bio | markdownify }} </p>
        </div>
    </div>
</div>
