{{ $prices := .Params.price }}
{{ $id := .Params.ecwid }}
{{ $ecwid_category := .Params.category }}

<!-- Generate Options -->
{{ $displayButton := false }}
{{ range $prices }}
    {{ if gt .inventory 0 }}
        {{ $displayButton = true }}
    {{ end }}
{{ end }}

{{ if $displayButton }}
    <form id="class-{{ $id }}" style="min-width: none">
    <center>
    {{ $first := true }}
    <div class="radio-group" >
        {{ range $prices }} 
            <label> 
            {{ if $first }}
                {{ if gt .inventory 0 }}
                    <input type="radio" name="payment-{{ $id }}" value="{{.name}}" checked >
                    {{ $first = false }}
                {{ else}}
                    <input type="radio" name="payment-{{ $id }}" value="{{.name}}" disabled >
                {{ end }}
            {{ else }}
                {{ if gt .inventory 0 }}
                    <input type="radio" name="payment-{{ $id }}" value="{{.name}}">
                {{ else}}
                    <input type="radio" name="payment-{{ $id }}" value="{{.name}}" disabled >
                {{ end }}
            {{ end }}
                {{ if lt .inventory 1 }} 
                <span style="color: lightgray;">{{.name}} (${{.price}}) </span>
                {{ else }}
                    {{.name}} (${{.price}}) 
                {{end}}
                    {{ if and (lt .inventory 4) (gt .inventory 0)  }} <br> Only {{ .inventory }} spaces left! {{ end }}
            </label> 
        {{ end }}
    </div>
    <div class="spacybutton">
        <a href="javascript: ecwid_add_product_to_cart( {{ $id }}, get_class_options({{ $id }}));"
            class="btn-small btn-primary">Add to Cart</a>
    </div>
    </center>
    </form>

{{ else }}
    <div class="fullclass">Class is full</div>
{{ end }}