{{/*  <div style="margin:auto; width:70%; border-color:rgb(29, 9, 253); border-width: 3px; border-style: solid; background-color: rgba(174, 221, 235, 0.6); color: rgb(44, 16, 85); padding: 10px; text-align: center; font-size: 1.2rem; font-weight: bold; border-radius: 5px; line-height: 1.0">
  ☃️❄️☃️❄️☃️<b>Snow Day!</b>☃️❄️☃️❄️☃️<br> 
  <span style="font-weight: 500; font-size: 1.0rem">
    Classes will be held as scheduled on Wednesday, February 12th.<br>
    In the event of a snow day, we open at 8:30 AM on 
    <b><a href="https://blueridgeboost.com/1-day-camps/#!/1-Day-Camp-Feb-13-2025/p/726100766">Thursday, February 13th</a></b>.<br>
    Camps on <b><a href="https://blueridgeboost.com/1-day-camps/#!/1-Day-Camp-Feb-14-2025/p/696832247">Friday, February 14th</a></b> and 
    <b><a href="https://blueridgeboost.com/1-day-camps/#!/1-Day-Camp-Feb-17-2025/p/696839040">Monday, February 17th</a></b> will proceed as scheduled.
</span></div>  */}}
<p><br></p>
<div style="margin:auto; width:90%; border-color:rgb(253, 135, 9); border-width: 3px; border-style: solid; background-color: rgba(240, 164, 58, 0.6); color: rgb(44, 16, 85); padding: 10px; text-align: center; font-size: 1.2rem; font-weight: bold; border-radius: 5px; line-height: 1.0">
  🌞 <a href="/summer-camps/">Summer Camps 2025 &mdash; </a> 🏖️  <br>
  <span style="font-weight: 500; font-size: 1.0rem">
  5% off until March 1st for rising grades: 
    <a href="/summer-camps/rising-1-3/" style="color:rgb(57, 128, 128)">First to Third</a> &middot;
    <a href="/summer-camps/rising-4-6/" style="color:rgb(57, 128, 128)">Fourth to Sixth</a> <br>
  $75 off until April 1st for camps for rising grades
  <a href="/summer-camps/rising-7-12/" style="color:rgb(57, 128, 128)">Seventh to Twelfth </a>.<br>
  $150 off until April 1st  for <a href="/quest-for-excellence-camps" style="color:rgb(57, 128, 128)">Quest for Excellence</a> camps.
</span>
</div>