<div class="container p-0 m-0 b-0">
    <h3 align="center">Typical Daily Workshop Schedule</h3>
    <div class="row py-1 table-header">
        <div class="col-5 text-center">Time</div>	
        <div class="col-7">Activity</div>
    </div>
    <div class="row py-1">
        <div class="col-5 text-center">&nbsp;1:30 &ndash; &nbsp;3:20</div>
        <div class="col-7">First Learning Session</div>
    </div>
    <div class="row py-1 table-dark-row">
        <div class="col-5 text-center">&nbsp;3:20 &ndash; &nbsp;3:40	</div>
        <div class="col-7 ">Break</div>
    </div>
    <div class="row py-1">
        <div class="col-5 text-center">&nbsp;3:40 &ndash; 5:30 </div>
        <div class="col-7">Second Learning Session.</div>
    </div>  
</div>