{{ define "main" }}

{{ partial "page-header.html" . }}

<script src="https://js.stripe.com/v3/"></script>

<div class="container">
    <div class="row">
        <div class="col">
            <!-- cart content -->
        </div>
        <div class="col">
            <!-- card -->
            <form id="payment-form">
                <div id="payment-element">
                  <!--Stripe.js injects the Payment Element-->
                </div>
                <button id="submit">
                  <div class="spinner hidden" id="spinner"></div>
                  <span id="button-text">Pay now</span>
                </button>
                <div id="payment-message" class="hidden"></div>
              </form>
        </div>
    </div>
</div>

<script>
    // Replace with your own publishable key
    const stripe = Stripe( {{ .Site.Params.stripeAPIKey }} );
    const elements = stripe.elements();
        
    const paymentElementOptions = {
        layout: "tabs",
    };

    const paymentElement = elements.create("payment", paymentElementOptions);
        paymentElement.mount("#payment-element");
    
    // Handle real-time validation errors from the card Element
    card.on('change', ({error}) => { 
        const displayError = document.getElementById('card-errors');
        if (error) {
            displayError.textContent = error.message;
        } else {
            displayError.textContent = '';
        }
    });

    // Handle form submission
    const form = document.getElementById('payment-form');
    
    form.addEventListener('submit', async (event) => {
        event.preventDefault();

        document.getElementById('myButton').addEventListener('click', function() {
            cartId = Ecwid.Cart.get()["cartId"];
            orderId = Ecwid.Cart.get()["orderId"];
            fetch( {{ .Site.Params.paymentURL }}, {
                method: "POST",
                body: JSON.stringify( {"cartId": cartId, "orderId": orderId} )
            }) 
                .then(response => response.text())
                .then(data => {
                    document.getElementById('response').innerText = data;
                })
                .catch(error => console.error('Error:', error));
        });

        // const {error, paymentIntent} = await stripe.confirmCardPayment(
        //     'your-client-secret-here', {
        //         payment_method: {
        //             card: card,
        //         }
        //     }
        // );

        if (error) {
            // Show error to your customer
            const displayError = document.getElementById('card-errors');
            displayError.textContent = error.message;
        } else {
            // The payment has been processed!
            if (paymentIntent.status === 'succeeded') {
                console.log('Payment succeeded!');
                // You can redirect the user or show a success message here
            }
        }
    });
</script>

{{end}}