{{define "main"}}

{{ partial "page-header.html" . }}

<section class="section">
  <div class="container">
    <p>Blue Ridge Boosts offers instructional programs in robotics, coding, and math during the school breaks
      and days off school. We also offer camps on days with unexpected school closings such as "snow days".
    <br>Blue Ridge Boost is a single focus instructional program, not a day care program.
      As such, <b>students must be at least six years old for camps.</b>
    <br>All camps are held at Blue Ridge Boost, 2171 Ivy Rd, Charlottesville.</p>
    <p>Half-day students should bring a snack. Full-day students should bring two snacks and lunch.</p>
  </div>
  <div class="container" id="camp2">
    <h4>Winter Break 2-Day Camps</h4>
    <div class="container">
      <div class="class-cards">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 rows-cols-lg-3 row-cols-xl-3 g-3">
          {{ range sort (where .Site.Pages ".Params.category" "2-Day Camps") ".Params.start_date" "asc" }}
            {{ partial "2-day-camp-card" . }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  <p></p>
  <div class="container" id="camp5">
    <h4>Spring and Summer 5-Day Camps</h4>
    <div class="container">
      <div class="class-cards">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 rows-cols-lg-3 row-cols-xl-3 g-3">
          {{ range sort (where .Site.Pages ".Params.category" "5-Day Camps") ".Params.start_date" "asc" }}
            {{ partial "5-day-camp-card" . }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  <p></p>
  <div class="container" id="camp1">
    <h4>1-Day Camps &ndash; Ages 6 to 13</h4>
    <div class="container">
      <ul style="display: flex; list-style-type: none; padding: 0;">
        <li>ACPS &ndash; Albermarle Public Schools</li>
        <li>CCS &ndash; Charlottesville City Schools</li>
        <li>STAB &ndash; St. Anne's Belfield</li>
        <li>PS &ndash; Peabody School</li>
      </ul>
      <p></p>
      <div class="class-cards">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 rows-cols-lg-3 row-cols-xl-3 g-3">
          {{ range sort (where .Site.Pages ".Params.category" "1-Day Camps") ".Params.start_date" "asc" }}
            {{ partial "1-day-camp-card" . }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  <p></p>
  <div class="container">
    <p>
      Join us for an exhilarating exploration of robotics, coding, chess, and math. Teamwork and collaboration
      are at the heart of our camp experience. Students will have the opportunity to work together, share ideas,
      and solve challenges. Through hands-on activities and group projects, students will develop critical
      thinking skills and learn the importance of effective communication.</p>
    <p>
      Typical camp day:<center>
        <style>
          tr:nth-child(odd) {
            background-color: #D6EEEE;
          }

          td {
            padding-left: 12px;
            padding-right: 12px;
          }
        </style>
        <table>
          <tr>
            <td width="35%">8:30&ndash;10:30am</td>
            <td>Free play, getting to know each other</td>
          </tr>
          <tr>
            <td>10:30&ndash;11am</td>
            <td>Snack</td>
          </tr>
          <tr>
            <td>11am&ndash;12:30pm</td>
            <td>Guided learning session</td>
          </tr>
          <tr>
            <td>12:30&ndash;1pm</td>
            <td>Lunch</td>
          </tr>
          <tr>
            <td>1&ndash;2:30pm</td>
            <td>Guided learning session</td>
          </tr>
          <tr>
            <td>2:30&ndash;3pm</td>
            <td>Snack</td>
          </tr>
          <tr>
            <td>3&ndash;5pm</td>
            <td>Individual and group exploration</td>
          </tr>
        </table>
      </center>
    </p>
  </div>
</section>
{{ end }}