{{define "main"}}

{{ partial "page-header.html" . }}

<section id="instructors" class="section">

  <div class="container">
    <center><h3>Leadership</h3></center>

    <div class="row">
      <div class="col">
        {{if .Params.owner.enable}}
          {{partial "instructor.html" .Params.owner }}
        {{end}}
      </div>
    </div>
    
    <p></p>

    <div class="row">
      <div class="col">
        {{if .Params.coo.enable}}
          {{partial "instructor.html" .Params.coo }}
        {{end}}
      </div>
    </div>

    <p></p>

    <div class="row">
      <div class="col">
        {{if .Params.coordinator.enable}}
          {{partial "instructor.html" .Params.coordinator }}
        {{end}}
      </div>
    </div>

    <div class="row">
      <div class="col">
        {{if .Params.troubadour.enable}}
          {{partial "instructor.html" .Params.troubadour }}
        {{end}}
      </div>
    </div>

    <p></p>

  <center><h2>Instructors</h2></center>
    
    {{ range .Params.instructors }}
      <div class="row">
        <div class="col">  
          {{if .enable}}
            {{partial "instructor.html" . }}
          {{end}}
        </div>
      </div>
      <p></p>
    {{end}}
  </div>
</section>

{{end}}