{{define "main"}}

{{ partial "page-header.html" . }}

<section id="instructors" class="section">
    <h2>Leadership</h2>

    <div class="row">
      <div class="col">
        {{if .Params.owner.enable}}
          {{partial "instructor.html" .Params.owner }}
        {{end}}
      </div>   

    <div class="row">
      <div class="col">
        {{if .Params.coordinator.enable}}
          {{partial "instructor.html" .Params.coordinator }}
        {{end}}
      </div>
    </div>
  </div>

  <h2>Instructors</h2>
    
    {{ range .Params.instructors }}
      <div class="row">
        <div class="col">  
          {{if .enable}}
            {{partial "instructor.html" . }}
          {{end}}
        </div>
      </div>
    {{end}}

</section>

{{end}}