{{define "main"}}

{{ partial "page-header.html" . }}

<section class="section">
  <div class="container">
    <br>All camps are held at Blue Ridge Boost, 2171 Ivy Rd, Charlottesville.</p>
    <p>Drop off starts at 10:30. Pick up ends at 3:30. Before and after care available.</p>
  </div>
   <div class="container" id="camp1">
    <div class="container">
      <div class="row">
        <div><script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?106136041&data_platform=code"
            charset="utf-8"></script><script type="text/javascript">
            xProductBrowser("views=grid(20,5) list(60) table(60)","categoryView=grid","id=my-store-106136041", 
            "defaultCategoryId=177143083");</script></div>
            </div>
    </div>
  </div>
  <p></p>
  <div class="container">
    <p>
        The Quest for Excellence Camps offer intense, focused learning experiences designed to 
        challenge and inspire students. These two-week programs provide participants with the 
        opportunity to earn an industry-recognized certification, along with a completion diploma from Blue Ridge Boost.
    <p>
      Typical camp day:<center>
        <style>
          tr:nth-child(odd) {
            background-color: #D6EEEE;
          }

          td {
            padding-left: 12px;
            padding-right: 12px;
          }
        </style>
        <table>
          <tr>
            <td width="35%">10:30&ndash;12:00</td>
            <td>Learning Session</td>
          </tr>
          <tr>
            <td>12:00&ndash;12:20</td>
            <td>Lunch</td>
          </tr>
          <tr>
            <td>12:20&ndash;1:50</td>
            <td>Learning Session</td>
          </tr>
          <tr>
            <td>1:50&ndash;2:00</td>
            <td>Snack</td>
          </tr>
          <tr>
            <td>2:00&ndash;3:30pm</td>
            <td>Learning session</td>
          </tr>
        </table>
      </center>
    </p>
  </div>
</section>
{{ end }}