{{define "main"}}

{{ partial "page-header.html" . }}

<section class="section">
  <h1 align="center">Camps at Blue Ridge Boost</h1>
  <div class="container">
    <p>Blue Ridge Boosts offers instructional programs in robotics, coding, and math during the school breaks
      and days off school. We also offer camps on days with unexpected school closings such as "snow days".
    </p>
  </div>

  <p></p>
  
  <div class="container">
    <p></p>
    <center>
      <a href="/1-day-camps" class="btn btn-outline-primary mtgbtnwidthm">1-Day camps</a>
      {{/*  <a href="/spring-break-camps" class="btn btn-outline-primary mtgbtnwidthm">Spring Break Camps</a>  */}}
      </center>
    <p></p>
    
    <h4>Summer 2025 5-Day Camps</h4>
    
    <center>
    <a href="/summer-camps/rising-1-3" class="btn btn-outline-primary mtgbtnwidthm">Rising 1st&ndash;3rd</a>
  
  <a href="/summer-camps/rising-4-6" class="btn btn-outline-primary mtgbtnwidthm">Rising 4th&ndash;6th</a>

  <a href="/summer-camps/rising-7-12" class="btn btn-outline-primary mtgbtnwidthm">Rising 7th&ndash;12th</a>
    </center>  

    <p></p>
    <h4>Summer 2025 2-Week Camps</h4>

    <center><a href="/quest-for-excellence-camps" class="btn btn-outline-primary mtgbtnwidthm">Quest for Excellence</a>
    </center>



  <p></p>
    <p>
      Join us for an exhilarating exploration of robotics, coding, chess, and math. Teamwork and collaboration
      are at the heart of our camp experience. Students will have the opportunity to work together, share ideas,
      and solve challenges. Through hands-on activities and group projects, students will develop critical
      thinking skills and learn the importance of effective communication.</p>
    <p>

      <p>
        Blue Ridge Boost is a single focus instructional program, not a day care program.
      As such, <b>students must be at least six years old for camps.</b>
      </p>
    <p>
      All camps are held at Blue Ridge Boost, 2171 Ivy Rd, Charlottesville.</p>
    <p>Half-day students should bring a snack. Full-day students should bring two snacks and lunch.</p>
    
      {{/*  Typical camp day:<center>
        <style>
          tr:nth-child(odd) {
            background-color: #D6EEEE;
          }

          td {
            padding-left: 12px;
            padding-right: 12px;
          }
        </style>
        <table>
          <tr>
            <td width="35%">8:30&ndash;10:30am</td>
            <td>Free play, getting to know each other</td>
          </tr>
          <tr>
            <td>10:30&ndash;11am</td>
            <td>Snack</td>
          </tr>
          <tr>
            <td>11am&ndash;12:30pm</td>
            <td>Guided learning session</td>
          </tr>
          <tr>
            <td>12:30&ndash;1pm</td>
            <td>Lunch</td>
          </tr>
          <tr>
            <td>1&ndash;2:30pm</td>
            <td>Guided learning session</td>
          </tr>
          <tr>
            <td>2:30&ndash;3pm</td>
            <td>Snack</td>
          </tr>
          <tr>
            <td>3&ndash;5pm</td>
            <td>Individual and group exploration</td>
          </tr>
        </table>
      </center>
    </p>
  </div>  */}}
</section>
{{ end }}