<center>
<a href="/images/learningroombright.png"><img src="/images/learningroombright-smaller.png" width="95%" alt="Learning Room at CvilleMath" style="padding:20px;"></a>
</center>


### Instructor


[Ana Nora Evans](//ananoraevans.org/) has a Masters degree in Mathematics from the University of
Virginia, a Masters degree in Computer Science from the University of
Virginia, and will complete a Masters degree in Teaching in Spring 2022. 

<center><a href="/images/nora.png"><img src="/images/nora-smaller.png" width="60%" alt="Nora" style="padding:20px;"></a>
</center>

Nora has previous experience leading programming and math lessons as a teaching assistant in 
Mathematics and Computer Science Department at the University of Virginia. She co-funded and organized a [math circle](https://cvillemathcircle.org/) for girls ages 3 to 9 for four years. Nora has classroom experience as a student-teacher at Monticello High School with Algebra 2, Math Analysis, and Geometry.

Nora is an experienced software engineer with industry and research experience. She is a 
co-author of several research papers published in top conferences in computer security and software engineering.

Nora is passionate about math and computing education, especially in attracting and retaining girls and women in STEM fields. The classroom environment and courses are designed to appeal to all students, not only gamers and boys.

<center>
   <a href="/images/fractions.png"><img src="/images/fractions-smaller.png" width="95%" alt="Visualizing Fractions" style="padding:20px;"></a>
 </center>

