{{ if default true .Site.Params.CarouselHomepage.enable }}
{{ if gt (len .Site.Data.carousel) 0 }}
<div id="home-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        {{ range $index, $val := (sort .Site.Data.carousel "weight")}}
        <button type="button" 
            data-bs-target="#home-carousel" 
            data-bs-slide-to="{{ $index }}" 
            class="{{ if (gt $index 0) }} {{ else }} active {{ end }}" 
            aria-current="true" 
            aria-label="Slide {{ add $index 1}}"></button>
        {{end}}
    </div>

    <div class="carousel-inner">
        {{ range $index, $val := (sort .Site.Data.carousel "weight")}}
        {{ $active := "active" }}
        <div class="carousel-item {{ if (gt $index 0) }} {{ else }} active {{ end }}">
            <!-- carousel for screens medium and bigger -->
            <div class="container-fluid d-none d-md-inline">
                <div class="row px-lg-5 align-items-center">
                    <div class="col-6">
                        {{ if eq 1 $index }}
                            <img class="d-block w-100 img-fluid" 
                                src="/images/carousel/{{ .image }}" 
                                style="aspect-ratio: 16 / 9;"
                                srcset="/images/carousel/600_{{ .image }} 600w, /images/carousel/1100_{{ .image }} 1100w, /images/carousel/1440_{{ .image }} 1440w, /images/carousel/1770_{{ .image }} 1770w, /images/carousel/2048_{{ .image }} 2048w"
                                sizes="(min-width: 1000px) calc(50vw - 60px), 50vw"
                                alt="{{ .Params.alt }}" />
                        {{ else }}
                            <img class="d-block w-100 img-fluid lazyload" 
                                style="aspect-ratio: 16 / 9;"
                                src = "/images/placeholders/placeholder-16-9.webp"
                                data-src="/images/carousel/{{ .image }}" 
                                data-srcset="/images/carousel/600_{{ .image }} 600w, /images/carousel/1100_{{ .image }} 1100w, /images/carousel/1440_{{ .image }} 1440w, /images/carousel/1770_{{ .image }} 1770w, /images/carousel/2048_{{ .image }} 2048w"
                                sizes="(min-width: 1000px) calc(50vw - 60px), 50vw"
                                alt="{{ .Params.alt }}" />
                        {{ end }}
                    </div>
                    <div class="col-6 text-start text-slide ps-lg-5 align-items-center">
                        <h1>{{ .title }}</h1>
                        <b><span class="fs-4">{{ .description_large | safeHTML }}</span></b>
                    </div>
                </div>
            </div>
            <!-- carousel for screens extra-small and small -->
            <div class="container-fluid d-md-none">
                <div class="row">
                    <div class="col">
                        {{ if eq 1 $index }}
                            <img class="d-block w-100 img-fluid" 
                                style="aspect-ratio: 16 / 9;"
                                src="/images/carousel/{{ .image }}" 
                                srcset="/images/carousel/300_{{ .image }} 300w, /images/carousel/400_{{ .image }} 400w, /images/carousel/500_{{ .image }} 500w, /images/carousel/600_{{ .image }} 600w"
                                sizes="calc(100vw - 24px)"
                                alt="{{ .Params.alt }}">
                        {{ else }}
                            <img class="d-block w-100 img-fluid lazyload" 
                                style="aspect-ratio: 16 / 9;"
                                src = "/images/placeholders/placeholder-16-9.webp"
                                data-src="/images/carousel/{{ .image }}" 
                                data-srcset="/images/carousel/300_{{ .image }} 300w, /images/carousel/400_{{ .image }} 400w, /images/carousel/500_{{ .image }} 500w, /images/carousel/600_{{ .image }} 600w"
                                sizes="calc(100vw - 24px)"
                                alt="{{ .Params.alt }}">
                        {{ end }}
                    </div>
                </div>
                <div class="row">
                <div class="text-start text-slide align-items-center"                >
                    <h1>{{ .title }}</h1>
                    <b><span class="fs-4">{{ .description_small | safeHTML }}</span></b>
                </div></div>
            </div>
        </div>
        {{ end }}
    </div>
    <button class="carousel-control-prev" type="button" 
        data-bs-target="#home-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#home-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>
{{ end }}
{{ end }}