{{ if default true .Site.Params.CarouselHomepage.enable }}
{{ if gt (len .Site.Data.carousel) 0 }}
<section>
    <div class="home-carousel">
        <div class="dark-mask"></div>
        <div class="owl-carousel owl-theme owl-loaded">
            <div class="owl-stage-outer">
                <div class="owl-stage">
                    {{ range sort .Site.Data.carousel "weight"}}
                    <div class="owl-item">
                        <div class="slide-owl-wrap">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-6">
                                    <img 
                                        fetchpriority="{{ .fetchpriority }}"
                                        src="images/carousel/{{ .image }}" 
                                        alt="{{ .alt }}"
                                        width="600"
                                        height="300">
                                    </div>
                                    <div class="col-sm-6 right">
                                        <h1>{{ .title }}</h1>
                                        {{ .description | safeHTML }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>

            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function() {
      var owl = $('.owl-carousel');
      owl.owlCarousel({
        items: 1,
        loop: true,
        margin: 20,
        nav: false,
        lazyLoadEager: 1,
        autoplay: true,
        autoplayTimeout: 8000,
        lazyLoad: true,
        autoplayHoverPause: true,
        autoHeight: true
      });
    })
  </script>
{{ end }}
{{ end }}
