{{ if default true .Site.Params.CarouselHomepage.enable }}
{{ if gt (len .Site.Data.carousel) 0 }}
<section>
    <div class="home-carousel">
        <div class="owl-carousel owl-theme owl-loaded">
            <div class="owl-stage-outer">
                <div class="owl-stage">
                    {{ range sort .Site.Data.carousel "weight"}}
                    <div class="owl-item">
                        <div class="slide-owl-wrap">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-6">
                                    <img class="img-responsive lazyload" 
                                        sizes="auto"
                                        data-srcset="images/carousel/{{ .image }} {{.image_width}}w, images/carousel/300_{{ .image }} 320w " 
                                        data-src="images/carousel/{{ .image }}" 
                                        alt="{{ .alt }}"
                                        width="600"
                                        height="300">
                                    </div>
                                    <div class="col-sm-6 right">
                                        <h1>{{ .title }}</h1>
                                        {{ .description | safeHTML }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function() {
      var owl = $('.owl-carousel');
      owl.owlCarousel({
        items: 1,
        loop: true,
        margin: 10,
        autoplay: "{{ default 1000 .Site.Params.CarouselHomepage.pagination_speed }}",
        autoplayTimeout: "{{ default 2000 .Site.Params.CarouselHomepage.slide_speed }}",
        autoplayHoverPause: true
      });
    })
  </script>
{{ end }}
{{ end }}
