
<div class="text-large">
  <div class="row">
    <div class="col-sm-10 right">
      <div class="hanging"><a href="/preschool" style="color:#ccffff">Preschool Coding</a></div>
      <div class="hanging"><a href="/k2" style="color:#ccffff">Block Languages using Code Monkey</a></div>
      <div class="hanging"><a href="/wedo" style="color:#ccffff">Robotics with Lego WeDo 2.0</a></div>
    </div>
  </div>
  <div class="spacer">
    <hr align="left" class="frontspacer"></hr>
  </div>
      <div class="row">
      <div class="col-sm-10 right">
      <div class="hanging"><a href="/scratch" style="color:#ccffff">Scratch</a></div>
      <div class="hanging"><a href="/spike" style="color:#ccffff">Robotics with Lego Spike</a></div>
      <div class="hanging"><a href="/upper_elementary" style="color:#ccffff">Coffee Script using Code Monkey</a></div>
      <div class="hanging"><a href="/python_ms" style="color:#ccffff">Python Programming</a></div>
    </div>
  </div>

      <div class="spacer">
      <hr align="left" class="frontspacer"></hr>
      </div>
      
    <div class="row">
   
    <div class="col-sm-10 right">
    <div class="hanging"><a href="/apcsp" style="color:#ccffff">Prep for AP Computer Science Principles (Python)</a></div>
    <div class="hanging"><a href="/apcs" style="color:#ccffff">Prep for AP Computer Science (Java)</a></div>
    <div class="hanging"><a href="/usaco" style="color:#ccffff">USA Computing Olympiad Bronze</a></div>
    </div>
    </div>
    <div class="spacer">
      <hr align="left" class="frontspacer"></hr>
    </div>
        <div class="row">
        <div class="col-sm-10 right">
    <div class="hanging">Intro to Programming</div>
    <div class="hanging">Data Structures and Algorithms</div>
    <div class="hanging">Discrete Math and Theory</div>
    <div class="hanging">Programming Languages</div>
	</div>
	</div>

    <!-- 	    <div class="spacer"> -->
    <!--   <hr class="frontspacer"></hr> -->
    <!-- </div> -->
<!--         <div class="row"> -->
<!--     <div class="col-sm-2"> -->
<!--      <div class="rotatedsm">Advanced</div> -->
<!--     </div> -->
<!--         <div class="col-sm-10 right"> -->

    
<!--     <div class="hanging">Computer Architecture</div> -->
<!--     <div class="hanging">Operating Systems</div> -->
<!--     <div class="hanging">Compilers</div> -->
<!-- </div> -->
<!-- 	</div> -->
	</div>
