
<div class="text-large">

  <div class="row">
    <div class="col-sm-10 right">
      <div class="hanging"><a href="/preschool" style="color:#ccffff">Preschool Coding</a></div>
      <div class="hanging"><a href="/k2" style="color:#ccffff">Block Languages</a></div>
      <!-- <div class="hanging">Robotics with Lego WeDo</div> -->
      <div class="hanging"><a href="/upper_elementary" style="color:#ccffff">Coffee Script</a></div>
      <div class="hanging"><a href="/python_ms" style="color:#ccffff">Python Programming</a></div>
    </div>
  </div>

      <div class="spacer">
      <hr align="left" class="frontspacer"></hr>
      </div>
      
    <div class="row">
   
    <div class="col-sm-10 right">
    <div class="hanging">Prep for AP Computer Science Principles</div>
    <div class="hanging">Prep for AP Computer Science (Java)</div>
    <div class="hanging">HS Computer Science (Python, Java)</div>
    <div class="hanging">USA Computing Olympiad Bronze</div>
    </div>
    </div>
    <div class="spacer">
      <hr align="left" class="frontspacer"></hr>
    </div>
        <div class="row">
        <div class="col-sm-10 right">
    <div class="hanging">Intro to Programming</div>
    <div class="hanging">Discrete Math</div>
    <div class="hanging">Programming Languages</div>
	</div>
	</div>

    <!-- 	    <div class="spacer"> -->
    <!--   <hr class="frontspacer"></hr> -->
    <!-- </div> -->
<!--         <div class="row"> -->
<!--     <div class="col-sm-2"> -->
<!--      <div class="rotatedsm">Advanced</div> -->
<!--     </div> -->
<!--         <div class="col-sm-10 right"> -->

    
<!--     <div class="hanging">Computer Architecture</div> -->
<!--     <div class="hanging">Operating Systems</div> -->
<!--     <div class="hanging">Compilers</div> -->
<!-- </div> -->
<!-- 	</div> -->
	</div>
