
<div class="text-large">

  <div class="row">
    <div class="col-sm-2">
     <div class="rotated">Kids</div>
    </div>
    <div class="col-sm-10 right">
      <div class="hanging">Coding with block languages</div>
      <div class="hanging">Robotics with Lego WeDo</div>
      <div class="hanging">Python Programming</div>
      <div class="hanging">Algorithmic thinking</div>
    </div>
  </div>

      <div class="spacer">
      <hr class="frontspacer"></hr>
      </div>
      
    <div class="row">
    <div class="col-sm-2">
     <div class="rotated">HS</div>
    </div>
    <div class="col-sm-10 right">
    <div class="hanging">Computer Science (Python)</div>
    <div class="hanging">USA Computing Olympiad Bronze</div>
    <div class="hanging">AP Computer Science Principles</div>
    <div class="hanging">AP Computer Science (Java)</div>
    </div>
    </div>

    <div class="spacer">
      <hr class="frontspacer"></hr>
    </div>
    
        <div class="row">
    <div class="col-sm-2">
     <div class="rotatedsm">College</div>
    </div>
        <div class="col-sm-10 right">
    <div class="hanging">Intro to Programming</div>
    <div class="hanging">Discrete Math</div>
    <div class="hanging">Programming Languages</div>
	</div>
	</div>

	    <div class="spacer">
      <hr class="frontspacer"></hr>
    </div>
        <div class="row">
    <div class="col-sm-2">
     <div class="rotatedsm">Advanced</div>
    </div>
        <div class="col-sm-10 right">

    
    <div class="hanging">Computer Architecture</div>
    <div class="hanging">Operating Systems</div>
    <div class="hanging">Compilers</div>
</div>
	</div>
	</div>
