<div class="container-fluid" id="brbfooter">
    <div class="row">
        {{ if isset .Site.Params "about_us" }}
        <div class="col-md-8">
            {{ .Site.Params.about_us | safeHTML }}
            
            <!-- <a href="{{ default "/contact" .Site.Params.contact_url }}" 
                class="btn btn-contact-us">Contact Us</a> -->
        </div>
        {{ end }}

        {{ if isset .Site.Params "address" }}
            <div class="col text-start">
            {{ .Site.Params.address | safeHTML }}
            </div>
        {{ end }}
    </div>
</div>
