{{ if default true .Site.Params.mainHomepage.enable }}
<section>
    <div class="home-main">
        <div class="dark-mask"></div>
        <div class="container">
	      <div class="item">
                <div class="row">
	              {{ range sort .Site.Data.main_home "weight" }}
                      <div class="col-sm-4 right">
			<div class="hppanel">
			  <div class="ptitle">{{ .title }}</div>
			  {{ .description | safeHTML }}
			</div>
		      </div>
		      {{ end }}

		 </div>
	     </div>
        </div>
    </div>
</section>
{{ end }}
