{{ if default true .Site.Params.mainHomepage.enable }}
<section>
  <div class="home-main">
    <div class="dark-mask"></div>
    <div class="container">
      <div class="item">
        <div class="row">	
          <div class="col-sm-4 right">
	    <div class="hppanel">
	      <div class="ptitle">Computing</div>
	      {{ partial "cs.html" .}}
            </div>
	  </div>
	  <div class="col-sm-4 right">
	    <div class="hppanel">
	      <div class="ptitle">Math</div>
	      {{ partial "math.html" .}}
            </div>
	  </div>
	  <div class="col-sm-4 right">
            <div class="hrpanel">
	      <div class="ptitle">
		Book an individual lesson! <br>
		<a href="/mathtutoring">Math</a> &nbsp&nbsp&nbsp
		<a href="/cstutoring">Computing</a> <br>
	      </div>
		<!-- <a href="/classes"> Group Class</a> <br> -->
	      <!-- <div class="ptitle">Instructor</div> -->
	      <!-- {{ partial "instructor.html" .}} -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
