<div class="text-large">

    <div class="row">
    <div class="col-sm-2">
     <div class="rotated">Kids</div>
    </div>
    <div class="col-sm-10 right">
      <!-- <div class="hanging">Math Counts</div> -->
      <div class="hanging">Elementary Math</div>
      <div class="hanging">Pre-algebra</div>
      <div class="hanging">Algebra 1</div>
      <div class="hanging">Competition math</div>
    </div>
    </div>

          <div class="spacer">
      <hr class="frontspacer"></hr>
      </div>


	      <div class="row">
    <div class="col-sm-2">
     <div class="rotated">HS</div>
    </div>
    <div class="col-sm-10 right">
      <div class="hanging">AP Calculus</div>
      <div class="hanging">Algebra</div>
      <div class="hanging">Proof-based geometry</div>
      <div class="hanging">Pre-calculus</div>
      </div>
    </div>

	          <div class="spacer">
      <hr class="frontspacer"></hr>
    </div>
    
        <div class="row">
    <div class="col-sm-2">
     <div class="rotatedsm">College</div>
    </div>
        <div class="col-sm-10 right">
<div class="hanging">Calculus</div>
<div class="hanging">Linear Algebra</div>
<!-- <div class="hanging">Probability and Statistics</div> -->
<!-- 	</div> -->
<!-- 	</div> -->

<!-- 	    <div class="spacer"> -->
<!--       <hr class="frontspacer"></hr> -->
<!-- 	    </div> -->
	    
<!-- 	        <div class="row"> -->
<!--     <div class="col-sm-2"> -->
<!--      <div class="rotatedsm">Advanced</div> -->
<!--     </div> -->
<!--         <div class="col-sm-10 right"> -->
<div class="hanging">Abstract Algebra</div>
<div class="hanging">Real Analysis</div>
<div class="hanging">Topology</div>
	</div>
		</div>
		</div>
