<div class="text-large">

    <div class="row">
     
    <div class="col-sm-10 right">
      <!-- <div class="hanging">Math Counts</div> -->
      <div class="hanging"><a href="/elementary" style="color:#ccffff">Elementary Math</a></div>
      <div class="hanging"><a href="/msmath" style="color:#ccffff">Middle School Math</a></div>
      <div class="hanging"><a href="/moems" style="color:#ccffff">Math Olympiad</a></div>
    </div>
  </div>

  <div class="spacer">
    <hr align="left" class="frontspacer"></hr>
  </div> 
  
      <div class="row">

      <div class="col-sm-10 right">
      <div class="hanging"><a href="/algebra1" style="color:#ccffff">Algebra 1</a></div>    
      <div class="hanging"><a href="/geometry" style="color:#ccffff">Geometry</a></div>
      <div class="hanging"><a href="/algebra2" style="color:#ccffff">Algebra 2</a></div>
      <div class="hanging"><a href="/amc" style="color:#ccffff">AMC 8/10/12</a></div>
    </div>
    </div>

    <div class="spacer">
      <hr align="left" class="frontspacer"></hr>
    </div>


	      <div class="row">

    <div class="col-sm-10 right">
      <div class="hanging"><a href="/precalc" style="color:#ccffff">Pre-calculus</a></div>
      <div class="hanging"><a href="/calc" style="color:#ccffff">Prep for AP Calculus AB and BC</a></div>
      <div class="hanging"><a href="/stats" style="color:#ccffff">Prep for AP Statistics</a></div>
      </div>
    </div>

	  <div class="spacer">
      <hr align="left" class="frontspacer"></hr>
    </div>
    
        <div class="row">

        <div class="col-sm-10 right">
          <div class="hanging">Calculus</div>
          <div class="hanging">Abstract Algebra</div>
          <div class="hanging">Real Analysis</div>
          <div class="hanging">General Topology</div>
	</div>
		</div>
		</div>
