<div class="m-0 b-0 p-1" id="top"> 
  <div class="flex-grow-1">
    <b>There is still time to sign-up for classes starting mid-January!</b>
  </div>
    <div class="px-2">
      <a href="https://facebook.com/blueridgeboost" 
        class="social"
        target="_blank"
        aria-label="Facebook"> 
        <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 448 512" fill="#8FCAE7">
          <path d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"/></svg> </a> 
    </div>
    <div class="px-2">
      <a href="mailto:nora@blueridgeboost.com" 
        class="social"
        target="_blank"
        aria-label="Email"> 
        <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 512 512" fill="#8FCAE7">
          <path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg>
    </div>
</div>

<nav class="navbar navbar-expand-md navbar-nav-scroll p-0" id="navbar" aria-label="Main navigation">
  <div class="container-fluid p-0 m-0 b-0">
    <a class="navbar-brand col-2 col-md-1 p-0 ps-1 m-0 b-0" href="/" aria-label="{{ .Site.Params.brand }}">
        <img src="{{ .Site.Params.brand_img | relURL }}" 
        class="img-thumbnail"
        height="150px" width="75px"
        alt="{{ .Site.Params.brand }}"/>
    </a>

    <!-- brand name -->
    <a class="navbar-brand col-8 d-md-none d-lg-inline col-lg-2 p-0 ps-lg-2 m-0 b-0" href="/" aria-label="{{ .Site.Params.brand }}">
      <h3>{{ .Site.Params.brand }}</h3>
    </a>
    
    <!-- toggler -->
    <!-- <button class="navbar-toggler d-md-none d-flex justify-content-end align-items-center"  -->
    <button class="navbar-toggler d-md-none col-1 p-0 m-0 b-0 d-flex justify-content-end align-items-center" 
      type="button" 
      data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
       aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <!-- <i class="fas fa-align-justify navbar-toggler-icon"></i> -->
        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" fill="#003359">
            <!-- <style>svg{fill:#003359}</style> -->
            <path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
      </span>
    </button>
    <!-- menu -->
    
  
    <div class="navbar-collapse collapse col-md-10 col-lg-9" id="navbarSupportedContent">
      <div class="container-fluid d-flex justify-content-end">
        <ul class="navbar-nav px-3 px-md-0">
          {{ $current := . }}
                      
          {{ range .Site.Menus.main.ByWeight }}
          {{ $topLevel := replace .URL "/" "" }}
          {{ $active := "" }}

          {{ if eq $current.RelPermalink .URL }}
            {{ $active = "active" }}
          {{ end }}

          {{ if eq $current.Type $topLevel }}
            {{ $active = "active" }}
          {{ end }}

          {{ if and (or (eq $current.RelPermalink .URL) (eq "term" $current.Kind)) (in (slice "page" "term") $current.Kind) }}
            {{ range (split .URL "/") }}
              {{ if eq "blog" . }}
                {{ $active = "active" }}
              {{ end }}
            {{ end }}
          {{ end }}

            {{ if .HasChildren }} 
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ .Name }}
                </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                {{ range .Children.ByWeight }}
                  <li><a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}

              </ul>
            </li>
            {{ else }}
              <li class="nav-item">
                <a class="nav-link {{ $active }}" aria-current="page" href="{{ .URL }}">{{ .Name }}</a>
              </li>
            {{ end }}
          {{ end }}
        </ul>
      </div>
    </div> 
  </nav>
</div>