<div class="m-0 b-0 p-1" id="top"> 
  <div class="flex-grow-1">
    <b>{{ .Site.Params.topbar.text | safeHTML }}</b>
  </div>
  {{ range .Site.Menus.topbar.ByWeight }}
    <div class="px-2">
      <a href="{{ .URL | safeURL }}" 
        class="social"
        target="_blank"
        aria-label="{{ .Name }}"> {{ .Pre }} </a> 
    </div>
  {{ end }}
</div>

<nav class="navbar navbar-expand-md navbar-nav-scroll p-0" id="navbar" aria-label="Main navigation">
  <div class="container-fluid p-0 m-0 b-0">
    <a class="navbar-brand col-2 col-md-1 p-0 ps-1 m-0 b-0" href="/" aria-label="{{ .Site.Params.brand }}">
        <img src="{{ .Site.Params.brand_img | relURL }}" 
        class="img-thumbnail"
        alt="{{ .Site.Params.brand }}"/>
    </a>

    <!-- brand name -->
    <a class="navbar-brand col-8 d-md-none d-lg-inline col-lg-2 p-0 ps-lg-2 m-0 b-0" href="/" aria-label="{{ .Site.Params.brand }}">
      <h3>{{ .Site.Params.brand }}</h3>
    </a>
    
    <!-- toggler -->
    <!-- <button class="navbar-toggler d-md-none d-flex justify-content-end align-items-center"  -->
    <button class="navbar-toggler d-md-none col-1 p-0 m-0 b-0 d-flex justify-content-end align-items-center" 
      type="button" 
      data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
       aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fas fa-align-justify navbar-toggler-icon"></i></span>
    </button>
    <!-- menu -->
    
  
    <div class="navbar-collapse collapse col-md-10 col-lg-9" id="navbarSupportedContent">
      <div class="container-fluid d-flex justify-content-end">
        <ul class="navbar-nav px-3 px-md-0">
          {{ $current := . }}
                      
          {{ range .Site.Menus.main.ByWeight }}
          {{ $topLevel := replace .URL "/" "" }}
          {{ $active := "" }}

          {{ if eq $current.RelPermalink .URL }}
            {{ $active = "active" }}
          {{ end }}

          {{ if eq $current.Type $topLevel }}
            {{ $active = "active" }}
          {{ end }}

          {{ if and (or (eq $current.RelPermalink .URL) (eq "term" $current.Kind)) (in (slice "page" "term") $current.Kind) }}
            {{ range (split .URL "/") }}
              {{ if eq "blog" . }}
                {{ $active = "active" }}
              {{ end }}
            {{ end }}
          {{ end }}

            {{ if .HasChildren }} 
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ .Name }}
                </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                {{ range .Children.ByWeight }}
                  <li><a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}

              </ul>
            </li>
            {{ else }}
              <li class="nav-item">
                <a class="nav-link {{ $active }}" aria-current="page" href="{{ .URL }}">{{ .Name }}</a>
              </li>
            {{ end }}
          {{ end }}
        </ul>
      </div>
    </div> 
  </nav>
</div>