{{ if isset .Site.Params "recent_posts" }}
{{ if .Site.Params.recent_posts.enable }}

<div class="container-fluid p-3">
    <div class="row text-center">
        <div class="col">
            <h2>{{ .Site.Params.recent_posts.title | markdownify }}</h2>
            <p> {{ .Site.Params.recent_posts.subtitle | markdownify }} </p>
        </div>
    </div>
    <div class="row text-start">
        {{ $posts := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
        {{ range first 4 $posts.Pages }}
        <div class="col-md-3 col-sm-6">
            <div class="vstack gap-1">
                <div class="d-none d-md-inline">
                    <a href="{{ .Permalink }}">
                    {{ if isset .Params "banner" }}
                        <img class="img-fluid lazyload" 
                            src = "images/placeholders/placeholder-3-2.webp"
                            data-src="/images/blog/{{ .Params.banner }}" 
                            data-srcset="/images/blog/300_{{ .Params.banner }} 300w, /images/blog/600_{{ .Params.banner }} 600w, /images/blog/1100_{{ .Params.banner }} 1100w, /images/blog/1440_{{ .Params.banner }} 1440w, /images/blog/1770_{{ .Params.banner }} 1770w, /images/blog/2048_{{ .Params.banner }} 2048w"
                            sizes="(min-width: 980px) 200px, calc(17.22vw + 35px)"
                            width="300" height="200"
                            alt="{{ .Params.alt }}">
                    {{ else }}
                        <img src="{{ "img/placeholder.png" | relURL }}" class="img-responsive" alt="">
                    {{ end }}
                    </a>
                </div>
                <div class="p-0">
                    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                    <p class="author-category">
                    {{ if isset .Params "authors" }}
                    {{ i18n "authorBy" }} {{ range $index, $author := .Params.authors }}{{ if $index }}, {{ end }}<a href="{{ (printf "%s/%s" ("authors" | relLangURL) ($author | urlize)) }}">{{ $author }}</a>{{ end }}
                    {{ end }}
                    {{ if .Params.date }}
                        {{ $createdAt := .Date.Format .Site.Params.date_format }}
                        {{ range $index, $month := slice "January" "February" "March" "April" "May" "June" "July" "August" "September" "October" "November" "December" }}
                            {{ $createdAt = replace $createdAt $month (i18n $month) }}
                        {{ end }}
                        {{ i18n "publishedOn" }} {{ $createdAt }}
                    {{ end }}
                    </p>
                    {{ if not .Site.Params.recent_posts.hide_summary }}
                        <p>{{ .Summary }}
                            <b><a href="{{ .Permalink }}" style="font-size: large;">...</a></b>
                        </p>
                    {{ end }}
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
{{ end }}
