<!-- JavaScript and dependencies -->

{{ $bootstrap := resources.Get "js/bootstrap.bundle.min.js" }}
{{ $fa_brands := resources.Get "fontawesome/js/brands.js" }}
{{ $fa_solid := resources.Get "fontawesome/js/solid.js" }}
{{ $fa := resources.Get "fontawesome/js/fontawesome.js" }}

{{ $options := (dict "sourceMap" "external") }}

{{ $js := slice $fa_brands $fa_solid $fa $bootstrap | resources.Concat "js/bundle.js" | js.Build $options | minify }}
{{ $securejs := $js | resources.Fingerprint }}
<script defer type="text/javascript" src="{{ $securejs.RelPermalink }}" integrity="{{ $securejs.Data.Integrity }}"></script>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.Config.Services.GoogleAnalytics.ID }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', "{{ site.Config.Services.GoogleAnalytics.ID }}");
</script>
