<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "headers.html" . }}
  </head>
  <body>
<div class="container-fluid p-2 p-lg-4">
    <div class="row"> 
        {{ partial "nav.html" . }}
    </div>
    <div class="row px-4 pt-4">
        <div class="vstack gap-3">
            <div class="px-4">
                {{ $header := default .Title .Params.header | markdownify | plainify }}
                <h1>{{ $header }}</h1>
            </div>
            <div class="px-2">
                <div class="container-fluid">
                    {{ $paginator := .Paginate (where .Data.Pages "Type" "blog") }}
                    {{ range $paginator.Pages }}
                        <div class="row py-1">
                            <div class="col-md-4">
                                <a href="{{ .Permalink }}">
                                    {{ if .Params.banner }}
                                        <img class="img-fluid" 
                                            src="/images/blog/{{ .Params.banner }}" 
                                            width="300" height="200"
                                            alt="{{ .Params.alt }}">
                                    {{ else }}
                                        <img src="{{ "img/placeholder.png" | relURL }}" class="img-responsive" alt="">
                                    {{ end }}
                                </a>
                            </div>
                            <div class="col-md-8">
                                <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                                {{ if isset .Params "date" }}
                                    {{ $createdAt := .Date.Format .Site.Params.date_format }}
                                    {{ range $index, $month := slice "January" "February" "March" "April" "May" "June" "July" "August" "September" "October" "November" "December" }}
                                        {{ $createdAt = replace $createdAt $month (i18n $month) }}
                                    {{ end }}
                                    <p class="date-comments">
                                        <a href="{{ .Permalink }}"><i class="far fa-calendar"></i> {{ $createdAt }}</a>
                                    </p>
                                {{ end }}
                                <p>{{ .Summary }}</p>
                                <!-- <p><b><a href="{{ .Permalink }}">{{ i18n "continueReading" }}</a></b></p> -->
                            </div>
                        </div>
                    {{ end }}
                </div>
            </div>
            <div class="px-2">
                <nav aria-label="Paginate">
                    {{ $adjacent_links := 2 }}
                    {{ $max_links := (add (mul $adjacent_links 2) 1) }}
                    {{ $lower_limit := (add $adjacent_links 1) }}
                    {{ $upper_limit := (sub $paginator.TotalPages $adjacent_links) }}
                    {{ if gt $paginator.TotalPages 1 }}
                        <ul class="pagination">
                        {{ if ne $paginator.PageNumber 1 }}
                            <li class="page-item">
                                <a class="page-link" href="{{ $paginator.First.URL }}">  
                                    First
                                </a>
                            </li>
                        {{ end }}
                        {{ if $paginator.HasPrev }}
                            <li class="page-tem">
                                <a href="{{ $paginator.Prev.URL }}" class="page-link">
                                    Previous
                                </a>
                            </li>
                        {{ end }}
                        {{ range $paginator.Pagers }}
                            {{ $.Scratch.Set "page_number_flag" false }}
                            {{ if gt $paginator.TotalPages $max_links }}
                                {{ if le $paginator.PageNumber $lower_limit }}
                                    {{ if le .PageNumber $max_links }}
                                        {{ $.Scratch.Set "page_number_flag" true }}
                                    {{ end }}
                                {{ else if ge $paginator.PageNumber $upper_limit }}
                                    {{ if gt .PageNumber (sub $paginator.TotalPages $max_links) }}
                                        {{ $.Scratch.Set "page_number_flag" true }}
                                    {{ end }}
                                {{ else }}
                                    {{ if and ( ge .PageNumber (sub $paginator.PageNumber $adjacent_links) ) ( le .PageNumber (add $paginator.PageNumber $adjacent_links) ) }}
                                        {{ $.Scratch.Set "page_number_flag" true }}
                                    {{ end }}
                                {{ end }}
                            {{ else }}
                                {{ $.Scratch.Set "page_number_flag" true }}
                            {{ end }}
                            {{ if eq ($.Scratch.Get "page_number_flag") true }}
                                <li class="page-item {{ if eq . $paginator }} active {{ end }}">
                                    <a href="{{ .URL }}" class="page-link">
                                        {{ .PageNumber }}
                                    </a>
                                </li>
                            {{ end }}
                        {{ end }}
                        {{ if $paginator.HasNext }}
                            <li class="page-item">
                            <a href="{{ $paginator.Next.URL }}" class="page-link">
                                Next
                            </a>
                            </li>
                        {{ end }}
                        {{ if ne $paginator.PageNumber $paginator.TotalPages }}
                            <li class="page-item">
                            <a class="page-link" href="{{ $paginator.Last.URL }}">
                                Last
                            </a>
                            </li>
                        {{ end }}
                        </ul><!-- .pagination -->
                    {{ end }}
                </nav>
            </div>
        </div>    
    </div>
    <div class="row">
        {{ partial "footer.html" . }}
    </div>
</div>
  </body>
</html>
