// Custom.scss
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "node_modules/bootstrap/scss/functions";

$darkest-blue: #003359;
$dark-blue: #005172;
$lighter-blue: #8FCAE7;
$light-blue: #BED6DB;
$lightest-blue: #EEFFFF;

$primary: $darkest-blue;
$enable-cssgrid: true;

$theme-colors: (
  "primary": $primary,
);

$custom-colors: (
  "darkest-blue": $darkest-blue,
  "dark-blue": $dark-blue,
  "lighter-blue": $lighter-blue,
  "light-blue": $light-blue,
  "lightest-blue": $lightest-blue
);
$theme-colors: map-merge($theme-colors, $custom-colors);
$theme-colors: map-remove($theme-colors, "info", "light", "dark");

// 2. Include any default variable overrides here
$enable-shadows: true;
$enable-dark-mode: false;
$enable-grid-classes: true;

$body-color: #1E1E1E;
$body-secondary-color: rgba($darkest-blue, 1);
$body-secondary-bg: $lighter-blue;
$body-emphasis-color: $darkest-blue;
$body-text-align: left;

// links
$link-color: $darkest-blue;
$link-decoration: none;
$link-hover-decoration: webkit-transform(scale, 1.2);

// headings
$h1-font-size: 2rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1.2rem;
$h6-font-size: 1.1rem;
;
$headings-font-weight: 700;
$headings-color: $darkest-blue;

// fonts
$font-family-sans-serif: "Roboto", "Helvetica", "Arial", "sans-serif";

// navbar
$navbar-light-color:  $darkest-blue;
$navbar-light-hover-color: $darkest-blue;
$navbar-light-active-color: $darkest-blue;
$navbar-light-icon-color: $darkest-blue;
$navbar-light-brand-color: $darkest-blue;
$navbar-light-brand-hover-color: $darkest-blue;

// thumbnail
$thumbnail-padding: 0;
$thumbnail-border-width: 0;
$thumbnail-border-radius: 50%;
$thumbnail-box-shadow: 8px 8px 8px $darkest-blue;

// carousel 
$carousel-indicator-width: 50px;
$carousel-indicator-height: 15px;
$carousel-indicator-hit-area-height: 30px;
$carousel-indicator-spacer: 10px;
$carousel-indicator-opacity: .5;
$carousel-indicator-active-bg: $darkest-blue;
$carousel-indicator-active-opacity: 1;

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "node_modules/bootstrap/scss/maps";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/containers";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/helpers";
@import "node_modules/bootstrap/scss/carousel";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/helpers/stacks";
// @import "node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here

// carousel

#top {
  background-color: $dark-blue;
  color: $white;
  display: flex;
  align-items: center;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

a.topa {
  color: #e1ecf4;
}

a.social {
  color: $lighter-blue;
  :hover {
    color: var(--bs-white);
  }
}
  
.navbar {
  z-index: 3;
  overflow: visible;
}  
  
.navbar .navbar-brand .img-thumbnail {
  max-height: 50px;
}
  
  // navbar toggler
.navbar .navbar-toggler {
  box-shadow: none; 
  border: none;
  color: $darkest-blue;
}
.navbar .navbar-toggler .navbar-toggler-icon {
  background-image: none;
}
  
.navbar-nav-scroll {
  max-height: 3em;
  overflow-y: visible;
}


.navbar-nav {
  align-items: end;
  background-color: $white;
}

.navbar-nav .nav-link {
  text-transform: none;
  font-weight: bold;
  color: $dark-blue;
  letter-spacing: 0.03em;
}

.nav-link:hover {
  background: $dark-blue;
  color: $white;
} 

.navbar-nav .nav-link.active {
  text-decoration: none;
  background: $dark-blue;
  color: $white;
}


#home-carousel {
  background-color: $lighter-blue;
  color: $darkest-blue;
}

#home-carousel .carousel-item {
  transition: transform 2s ease-in-out;
}

#home-carousel .carousel-control-prev,
#home-carousel .carousel-control-next {
  width: 5%;
  color: $dark-blue;
}

#home-carousel .carousel-control-prev:hover, 
#home-carousel .carousel-control-prev:focus,
#home-carousel .carousel-control-next:hover,
#home-carousel .carousel-control-next:focus {
  color: $darkest-blue;
}

#home-carousel .carousel-indicators {
  margin-bottom: 0;
}

#home-carousel .carousel-indicators .active{
  opacity: 1;
  background-color: $darkest-blue;
  margin: 0px 7px !important;
}

#home-carousel .text-slide {
  max-height: 15rem !important;
  height: 15rem !important;
  overflow: hidden;
}

#brbfooter {
  background-image: url("/images/blue-ridge-footer.webp"); 
  color: $lightest-blue;
}

ul.list-style-none {
    list-style-type: none;
  }

  .btn-sign-up {
    color: aqua;
    font-size: 1.2em;
    background-color: $darkest-blue;
    border-color: $darkest-blue;
    padding: 0.5em;
    
  }

  
  /* CSS */
  .button-8 {
    background-color: #e1ecf4;
    border-radius: 3px;
    border: 1px solid #7aa7c7;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: $dark-blue;
    cursor: pointer;
    display: inline-block;
    font-family: $font-family-sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.15;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
  }
  
  .button-8:hover,
  .button-8:focus {
    background-color: #b3d3ea;
    color: #2c5777;
  }
  
  .button-8:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
  }
  
  .button-8:active {
    background-color: #a0c7e4;
    box-shadow: none;
    color: $dark-blue;
  }

  
  .button-8s {
    background-color: #e1ecf4;
    border-radius: 3px;
    border: 1px solid #7aa7c7;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: $dark-blue;
    cursor: pointer;
    display: inline-block;
    font-family: $font-family-sans-serif;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.1;
    margin-top: 5px;
    margin-bottom: 5px;
    outline: none;
    padding: 4px .5em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
  }
  
  .button-8:hover,
  .button-8:focus {
    background-color: #b3d3ea;
    color: #2c5777;
  }
  
  .button-8:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
  }
  
  .button-8:active {
    background-color: #a0c7e4;
    box-shadow: none;
    color: $dark-blue;
  }

  
.btn-contact-us {
  color: $lightest-blue;
  font-size: 1.2em;
  background-color: $darkest-blue;
  border-color: $darkest-blue;
  padding: 0.5em;
}

.btn-contact-us-small {
  color: $lightest-blue;
  font-size: 1em;
  background-color: $darkest-blue;
  border-color: $darkest-blue;
  padding: 0.2em;
  border-top: 0.5em;
}

.darknote {
  background: $dark-blue;
  font-weight: 500;
  color: $white;
}

.darknote a {
  color: #BED6DB;
}


.daybar {
  background: $dark-blue;
  font-weight: 500;
  color: $white;
  text-align: center;
  font-size: 1.2em;
}

.daybar a {
  color: $white;
}

div.row.table-header {
  background-color: $dark-blue;
  font-weight: 700;
  color: $white;
}

div.row.table-dark-row {
  background-color: $lightest-blue;
  text-align: left;
}

div.row.table-light-row {
  text-align: left;
}

div.row a {
  font-weight: 500;
}

div.row.dark-row {
  background-color: $lightest-blue;
}

.chessshade {
  background-color: tan;
}

.grshade {
  background-color: Lavender;
}

.grK2shade {
  background-color: mistyrose;
}

.gr35shade {
  background-color: peachpuff;
}

.gr56shade {
  background-color: lightgoldenrodyellow;
}

.gr68shade {
  background-color: #95dcb8;
}

.gr78shade {
  background-color: #95dcb8;
}

.above-md {
  display: none;
}

.below-md {
  display: inline;
}

.monday { 
  display: grid; 
  text-align: center;
  align-items: stretch center;
  grid-template-columns: 0.2fr 1.2fr 1.2fr 1.2fr; 
  grid-template-rows: 2em auto; 
  gap: 5px 5px;
  grid-template-areas: 
    "day day day day"
    "time1 class3 class3 class1"
    "time2 class3 class3 class1"
    "time3 class3 class3 class2"
    "time4 . . class2"
    "time5 . . class2"; 
}

.tuesday { 
  display: grid; 
  text-align: center;
  // align-items: stretch;
  grid-template-columns: 0.2fr 1.2fr 1.2fr 1.2fr; 
  grid-template-rows: 2em auto; 
  gap: 5px 5px;
  grid-template-areas: 
    "day day day day"
    "time1 class1 class1 class1"; 
}

.wednesday { 
  display: grid; 
  text-align: center;
  // align-items: stretch;
  grid-template-columns: 0.2fr 1.2fr 1.2fr 1.2fr; 
  grid-template-rows: 2em auto; 
  gap: 5px 5px;
  grid-template-areas: 
    "day day day day"
    "time1 class1 class1 class2" 
    "time2 class3 class3 class3"
    "time3 class4 class4 class4"
}

.thursday { 
  display: grid; 
  text-align: center;
  // align-items: stretch;
  grid-template-columns: 0.2fr 1.2fr 1.2fr 1.2fr; 
  grid-template-rows: 2em auto; 
  gap: 5px 5px;
  grid-template-areas: 
    "day day day day"
    "time1 class1 class1 class2"; 
}

.friday { 
  display: grid; 
  text-align: center;
  // align-items: stretch;
  grid-template-columns: 0.2fr 1.2fr 1.2fr 1.2fr; 
  grid-template-rows: 2em auto; 
  gap: 5px 5px;
  grid-template-areas: 
    "day day day day"
    "time3 . . class3"
    "time4 class1 class6 class3"
    "time5 class1 class6 class3"
    "time6 class2 class6 class3"  
    "time7 class2 . .";
}

.saturday { 
  display: grid; 
  text-align: center;
  // align-items: stretch;
  grid-template-columns: 0.2fr 1.2fr 1.2fr 1.2fr; 
  grid-template-rows: 2em auto; 
  gap: 5px 5px;
  grid-template-areas: 
    "day day day day"
    "time1 class1 class1 t1" 
    "time2 class2 class2 t2" 
    "time3 class3 class4 t3"
    "time4 class5 class6 t4"
    "time5 class7 class7 t5"
    "time6 class9 class10 class11"
    "time7 class9 . . ";
}
.sunday { 
  display: grid; 
  text-align: center;
  // align-items: stretch;
  grid-template-columns: 0.2fr 1.2fr 1.2fr 1.2fr; 
  grid-template-rows: 2em auto; 
  gap: 5px 5px;
  grid-template-areas: 
    "day day day day"
    "time1 class1 class1 t1" 
    "time2 class2 class2 t2" 
    "time3 class3 class3 t3"
    "time4 class4 class4 t4"
    "time5 class5 class5 class9"
    "time6 class6 class6 t6"
    "time7 class7 class8 t7";
}

.schedule {
  display: grid;
  gap: 5px 5px;
  align-items: start;
  grid-template-columns: 1fr; 
  grid-template-areas: 
      "monday"
      "tuesday"
      "wednesday"
      "thursday"
      "friday"
      "saturday"
      "sunday";
}

.umonday { 
  display: grid; 
  text-align: center;
  align-items: stretch center;
  grid-template-columns: 0.2fr 1.2fr 1.2fr 1.2fr; 
  grid-template-rows: 2em auto; 
  gap: 5px 5px;
  grid-template-areas: 
    "day day day day"
    "time1 class3 class6 class1"
    "time2 class3 class6 class1"
    "time3 class3 class6 class2"
    "time4 class4 class7 class2"
    "time5 class4 class7 class5"
    "time6 class4 class7 class5"; 
}

.utuesday { 
  display: grid; 
  text-align: center;
  // align-items: stretch;
  grid-template-columns: 0.2fr 1.2fr 1.2fr 1.2fr; 
  grid-template-rows: 2em auto; 
  gap: 5px 5px;
  grid-template-areas: 
    "day day day day"
    "time1 class2 class2 class2"
    "time2 class3 class3 class4"
    "time3 class5 class5 class5"; 

}

.uwednesday { 
  display: grid; 
  text-align: center;
  // align-items: stretch;
  grid-template-columns: 0.2fr 1.2fr 1.2fr 1.2fr; 
  grid-template-rows: 2em auto; 
  gap: 5px 5px;
  grid-template-areas: 
    "day day day day"
    "time1 class1 class7 class2" 
    "time2 class3 class8 class4"
    "time3 class6 class6 class5"; 
}

.uthursday { 
  display: grid; 
  text-align: center;
  // align-items: stretch;
  grid-template-columns: 0.2fr 1.2fr 1.2fr 1.2fr; 
  grid-template-rows: 2em auto; 
  gap: 5px 5px;
  grid-template-areas: 
    "day day day day"
    "time1 class1 class1 class2"; 
}

.ufriday { 
  display: grid; 
  text-align: center;
  // align-items: stretch;
  grid-template-columns: 0.2fr 1.2fr 1.2fr 1.2fr; 
  grid-template-rows: 2em auto; 
  gap: 5px 5px;
  grid-template-areas: 
  "day day day day"
  "time1 class1 class2 class7"
  "time2 class1 class2 class7"
  "time3 class1 class2 class7"
  "time4 class3 class4 ."
  "time5 class3 class4 ."
  "time6 class3 class4 .";
}

.usaturday { 
  display: grid; 
  text-align: center;
  // align-items: stretch;
  grid-template-columns: 0.2fr 1.2fr 1.2fr 1.2fr; 
  grid-template-rows: 2em auto; 
  gap: 5px 5px;
  grid-template-areas: 
  "day day day day"
  "time1 class1 class1 class3"
  "time2 class4 class4 class6"
  "time3 class4 class4 class6"
  "time4 class7 class9 class9"
  "time5 class7 class10 class11"
  "time6 class12 class10 class11"
  "time7 class12 class13 class14"
  "time8 class15 class16 class17"
  "time9 class15 . .";
}

.usunday { 
  display: grid; 
  text-align: center;
  // align-items: stretch;
  grid-template-columns: 0.2fr 1.2fr 1.2fr 1.2fr; 
  grid-template-rows: 2em auto; 
  gap: 5px 5px;
  grid-template-areas: 
    "day day day day"
    "time1 class1 class1 class1" 
    "time2 class4 class5 class13" 
    "time3 class4 class7 class20"
    "time4 class9 class7 class20"
    "time5 class9 class10 class21"
    "time6 class12 class15 class22"
    "time7 class14 class15 class22"
    "time8 class14 . ."
    "time9 class19 class18 class17";
}


.upcomingschedule {
  display: grid;
  gap: 5px 5px;
  align-items: start;
  grid-template-columns: 1fr; 
  grid-template-areas: 
      "umonday"
      "utuesday"
      "uwednesday"
      "uthursday"
      "ufriday"
      "usaturday"
      "usunday";
}

@include media-breakpoint-up  (md) {
  .monday 
  .umonday
  .tuesday
  .utuesday
  .thursday
  .uthursday
  .wednesday
  .uwednesday
  .friday
  .ufriday
  {
    grid-template-columns: 0.7fr 1.1fr 1.1fr 1.1fr; 
  }  
  .above-md {
    display: inline;
  }
  .below-md {
    display: none;
  }
  .schedule {
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-areas: 
      "monday tuesday wednesday"
      "thursday thursday thursday"
      "friday saturday sunday";
  }
  .upcomingschedule{
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-areas: 
      "umonday utuesday uwednesday"
      "uthursday uthursday uthursday"
      "ufriday usaturday usunday";
  }
}

@include media-breakpoint-up  (lg) {
  .schedule {
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-areas: 
      "monday tuesday wednesday"
      "monday thursday wednesday"
      "friday saturday sunday";
  }
  .upcomingschedule {
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-areas: 
      "umonday utuesday uwednesday"
      "umonday uthursday uwednesday"
      "ufriday usaturday usunday";
  }
}