{{- 
    $brbClass := (dict 
        "@context" "https://schema.org"
        "@type": "Course"
        "name": .Params.page_title
        "description": .Params.description
        "provider"  {
            "@type": "Organization"
            "name": "Blue Ridge Boost"
            "sameAs": "https://blueridgeboost.com"
        }
        "url" $url
        "image" (slice .Params.image_url)
    )
-}}

{{- if eq .Params.category "Ongoing" -}}
    $brbClass = merge $brbClass (dict 
        "hasCourseInstance" (partial build-ongoing-class-instance.html))
{{- end -}}

{{- if eq .Params.category "Session" -}}
    $courseInstanceSlice = merge $courseInstanceSlice (partial build-session-class-instance.html)
{{ end }}

{{- return $brbClass -}}