{{ return 
    (slice
        (dict
        "@type" "Place"
        "name" "Charlottesville, VA"
        "address" (dict
            "@type" "PostalAddress"
            "addressLocality" "Charlottesville"
            "addressRegion" "VA"
            "addressCountry" "US"
            )
        )
        (dict
            "@type" "Place"
            "name" "Albemarle County, VA"
            "address" (dict
                "@type" "PostalAddress"
                "addressLocality" "Albemarle County"
                "addressRegion" "VA"
                "addressCountry" "US"
            )
        )
    )
}}