{{- $byDay := partial "build-json/daytags-to-byDay.html" . -}}
{{- $startDate := now.Format "2006-01-02" -}}
{{- with .Params.start_date }}{{- $startDate = dateFormat "2006-01-02" . -}}{{- end -}}
{{- $endDate := (now.AddDate 0 6 0) | time.Format "2006-01-02" -}}
{{- with .Params.end_date }}{{- $endDate = dateFormat "2006-01-02" . -}}{{- end -}}
{{- $schedule := dict
    "@type" "Schedule"
    "startDate" $startDate
    "endDate" $endDate
    "byDay" $byDay
    "scheduleTimezone" "America/New_York"
    "repeatFrequency" "P1W"
-}}
{{- $startTime := partial "build-json/to24H.html" .Params.start_time -}}
{{- $endTime := partial "build-json/to24H.html" .Params.end_time -}}
{{- if $startTime }}{{- $schedule = merge $schedule (dict "startTime" $startTime) -}}{{- end -}}
{{- if $endTime }}{{- $schedule = merge $schedule (dict "endTime" $endTime) -}}{{- end -}}
{{- return $schedule -}}