{{- $schedule := partial "build-json/build-schedule.html" . -}}
{{- $aggregate := partial "build-json/build-offer-aggregate.html" . -}}
{{- $organizer := partial "build-json/build-organizer.html" . -}}
{{- $address := partial "build-json/build-address.html" . -}}
{{- $locationName := or .Params.location_name "Blue Ridge Boost" -}}
{{- $description := trim (plainify (default "" (or .Params.description .Summary))) " \n\r\t" -}}
{{- $url := .Permalink -}}
{{- $startDate := now.Format "2006-01-02" -}}
{{- with .Params.start_date }}{{- $startDate = dateFormat "2006-01-02" . -}}{{- end -}}

{{- $event := dict
"@type" "EducationEvent"
"name" (or .Params.page_title .Title)   
"performer" (dict 
    "@type" "Organization"
    "name" "Blue Ridge Boost")
"image" (slice .Params.image_url)
"description" $description
"url" $url
"eventStatus" "https://schema.org/EventScheduled" 
"eventAttendanceMode" "https://schema.org/OfflineEventAttendanceMode" 
"location" (dict
"@type" "Place"
"name" $locationName
"address" $address
)
"organizer" $organizer
"offers" $aggregate
"startDate" $startDate
-}}

{{- if $schedule -}}
{{- $event = merge $event (dict "eventSchedule" $schedule) -}}
{{- end -}}

{{ warnf "event type: %T" $event}}
{{ warnf "schedule type: %T" $schedule}}
{{ warnf "aggregate type: %T" $aggregate}}
{{ warnf "organizer type: %T" $organizer}}
{{ warnf "address type: %T" $address}}

{{- return $event -}}