{{- $url := .Permalink -}}
{{ $organizerName := "Blue Ridge Boost" }}
{{ $organizerURL := "https://blueridgeboost.com/" }}
{{- $description := trim (plainify (default "" (or .Params.description .Summary))) " \n\r\t" -}}
{{ $areaServed := partial "build-json/build-area-served.html" . }}
{{- $aggregate := partial "build-json/build-offer-aggregate.html" . -}}


{{ return dict
    "@type" "Service"
    "name" (or .Params.page_title .Title)
    "image" (slice .Params.image_url)
    "description" $description
    "url" $url
    "provider" (dict
        "@type" "Organization"
        "name" $organizerName
        "url" $organizerURL
    )
    "areaServed" $areaServed
    "offers" $aggregate
    "potentialAction" (dict
        "@type" "ReserveAction"
        "target" (dict
            "@type" "EntryPoint"
            "urlTemplate" $url
            "actionPlatform" (slice
            "https://schema.org/DesktopWebPlatform"
            "https://schema.org/MobileWebPlatform"
            )
            "inLanguage" "en"
        )
    )
}}