
{{ return (dict
    "@type" "Organization"
    "name"  "Blue Ridge Boost"
    "url" "https://blueridgeboost.com"
    "contactPoint" (slice
        (dict
            "@type" "ContactPoint"
            "contactType" "customer support"
            "telephone" "+1-434-260-0636"
            "email" "info@blueridgeboost.com"
            "url" "https://blueridgeboost.com/contact/"
            "availableLanguage" (slice "en")
            "areaServed" $areaServed
        )
    )
    "hoursAvailable" (slice
        (dict
            "@type" "OpeningHoursSpecification"
            "dayOfWeek" (slice
                "https://schema.org/Monday"
                "https://schema.org/Tuesday"
                "https://schema.org/Wednesday"
                "https://schema.org/Thursday"
                "https://schema.org/Friday"
            )
            "opens" "10:00"
            "closes" "20:00"
        )
        (dict
            "@type" "OpeningHoursSpecification"
            "dayOfWeek" (slice
                "https://schema.org/Saturday"
                "https://schema.org/Sunday"
            )
            "opens" "10:00"
            "closes" "18:00"
        )
    )
) }}