{{define "main"}}

{{ partial "page-header.html" . }}

<section id="girl_powered_fridays" class="section">
    <div class="container">
        <p>Designed to empower girls in Science, Technology, Engineering, and Mathematics (STEM)!</p>
        <p>We welcome girls and their supporters to an evening of innovation and discovery. Fuel your creativity with complimentary pizza and dessert.</p>
        <p>Together, let's break barriers and build a future where girls thrive in STEM fields!</p>
    </div>
    <div class="container">
        <div class="class-cards">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 rows-cols-lg-3 row-cols-xl-3 g-3">
            {{ range sort .Pages ".Params.start_date" "asc" }}
                {{ partial "gpf-card.html" . }}
            {{ end }}
            </div>
        </div>     
    </div>
</section>

{{end}}