{{ $id := .Params.ecwid }}
{{ $spaces := .Params.inventory }}

<div class="col d-flex">
    <div class="card flex-fill">
        <div class="card-body">
            {{ $startDate := .Params.start_date | time }}
            <a href="{{ .RelPermalink }}"><b>{{ time.Format "January 2, 2006" $startDate }}</b></a><br>
            Topic: {{ .Params.subject_tags }}<br>
            {{ $schoolsFullName := split .Params.page_subtitle "," }}
            {{ $schools := slice }}
            {{ range $schoolsFullName }}
                {{ $school := trim . " " }}
                {{ if eq $school "Albemarle County Public Schools" }}
                    {{ $school = "ACPS" }}
                {{ else if eq $school "Charlottesville City Schools" }}
                    {{ $school = "CCS" }}
                {{ else if eq $school "St. Anne's-Belfield School" }}
                    {{ $school = "STAB" }}
                {{ else if eq $school "Peabody School" }}
                    {{ $school = "PS" }}
                {{ end }}
                {{ $schools = $schools | append $school }}
            {{ end }}
            Schools Out: {{ $sortedSchools := sort $schools }}
            {{ range $sortedSchools }}
                {{ . }}
            {{ end }}<br>
            {{ if gt $spaces 0 }}
                {{ if lt $spaces 5 }}
                Only {{ $spaces }} spaces left!<br>
                {{ else }}
                Spaces available!<br>
                {{ end }}
                {{ $first := true }}
                <form id="camp-{{ $id }}">
                    <div class="radio-group">
                        {{ range .Params.price }}
                            {{if $first}}
                                <label> <input type="radio" name="type-{{ $id }}" value="{{.name}}" checked> {{.name}} (${{.price}}) </label>    
                                {{ $first = false }}<br>
                            {{ else }}
                                <label> <input type="radio" name="type-{{ $id }}" value="{{.name}}"> {{.name}} (${{.price}}) </label> <br>   
                            {{ end }}
                        {{ end }}
                    </div>
                </form>

            <div class="spacybutton">
                <a href="javascript: ecwid_add_product_to_cart(
                              {{ $id }},
                              get_camp_options( {{ $id }} ) );" class="btn-small btn-primary">Add to Cart</a>
            </div>
        {{ else }}
            No spaces available!
        {{ end }}
        </div>
    </div>
</div>

    {{/* <div class="card" id="class-{{ $id }}">
        <div class="card-header">
            <h5 class="card-title">
                <a href="{{ .RelPermalink }}"><b>
                        {{ .Params.page_title }}
                    </b></a>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
                <b>Schools off: </b>{{ .Params.page_subtitle }}
            </h6>
        </div>
        <div class="card-body">
            {{ partial "class-info.html" . }}
        </div>
        <div class="card-footer">
            {{ partial "1-day-camp-footer.html" .}}
        </div>
    </div> */}}