<div class="container">
    Options: AM ($75) <span>&#183;</span> PM ($75) <span>&#183;</span> Full-Day ($115)</p>
    <b>Children that are not yet 6 year old may not attend camps.</b><br>
    <div> Campers may attend at most 25 days in any three months, because Blue Ridge Boost is a 
                    single focus intructional program, not a daycare program.</div>
    <ul>
        <li>ACPS &ndash; Albermarle Public Schools</li>
        <li>CCS &ndash; Charlottesville City Schools</li>
    </ul>
    <b>Signups are available through our <a href="https://store.blueridgeboost.com/products/camps">web store</a>!</b>
    <p></p>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 rows-cols-lg-4 row-cols-xl-4 g-4">
        {{ range sort .one_day_camps "start_date" "ASC" }}
        <div class="card m-2">
            {{ $id := .product_id }}
            <div class="card-body">
                
                <b>{{ time.Format "Mon, 2 Jan 06" (time.AsTime .start_date) }}</b><br>
                Topic: {{ .topic }}<br>
                Schools: {{ range .schools }}{{ . }}  {{end}}<br>

                {{/*  <form id="camp-{{ $id }}">
                    <div class="radio-group">
                        <label> <input type="radio" name="type-{{ $id }}" value="AM"> AM ($75) </label>
                        <label> <input type="radio" name="type-{{ $id }}" value="Full-Day" checked="checked"> Full-Day ($115) </label>
                    </div>
                    <div class="radio-group" >
                        <label> <input type="radio" name="payment-{{ $id }}" value="Now" checked="checked"> Now </label>
                        <label> <input type="radio" name="payment-{{ $id }}" value="Non-refund​able deposit"> Deposit </label>
                        <label> <input type="radio" name="payment-{{ $id }}" value="3 Installmen​ts"> 3 Installments </label>
                    </div>
                </form>
                <div class="spacybutton">
                    <a href="javascript: ecwid_add_product_to_cart(
                            {{ $id }},
                            get_camp_options( {{ $id }} ) );"
                    class="btn-small btn-primary">Add to Cart</a>
                </div>  */}}
            </div>
        </div>
        {{ end }}
    </div>
</div>
