{{ $id := .Params.ecwid }}
<div
    class = "card"
    id = "class-{{ $id }}"
    >
    <div class="card-header">
        <h5 class="card-title">
        <a href="{{ .RelPermalink }}"><b>
        {{ .Params.page_title }}
        </b></a>
        </h5>
        {{ if eq .Params.page_subtitle "undefined" }}
        {{ else }}
        <h6 class="card-subtitle mb-2 text-muted">
        {{ .Params.page_subtitle }}
        </h6>
        {{ end }}
    </div>
    <div class="card-body">
        {{.Params.start_time}} &ndash; {{.Params.end_time}}<br>
        Grades: {{ with .Params.grade_tags }}
            {{ if gt (len .) 0 }}
                {{ index . 0 }}
                {{ if gt (len .) 1 }}
                    to {{ index . (sub (len .) 1) }}
                {{ end }}
            {{ end }}
        {{end}}
    </div>
    {{/*  <div class="card-footer">
        {{ partial "session-class-footer.html" .}}
    </div>  */}}
{{ $spaces := .Params.inventory }}
{{ $prices := .Params.price }}
{{ $ecwid_category := .Params.category }}

{{ if lt $spaces 1 }}
    <div class="fullclass">Camp is full</div>
{{ else }}
    {{ $displayButton := false }}
    {{ if eq .Params.start_date "" }}
        <!-- Output if start_date is not set -->
        {{ $displayButton = true }}
    {{ else }}
        <!-- Output if start_date is set -->
        {{ $startDate := .Params.start_date | time }}
        {{ $twoWeeksLater := $startDate.Add (time.Duration "hour" (mul 14 24)) }}
        {{ $currentTime := now }}
        {{ if lt $twoWeeksLater $currentTime }}
            <!-- Output if start_date is in the past -->
                Signups Closed
                {{ $displayButton = false }}
        {{ else }}
            {{ $displayButton = true }}
        {{ end }}
    {{ end }}
    {{ if eq $displayButton true }}
    <center>
        {{ $first := true }}
        <div class="radio-group" >
            {{ range $prices }} 
                <label> 
                {{ if $first }}
                    <input type="radio" name="payment-{{ $id }}" value="{{.name}}" checked >
                    {{ $first = false }}
                {{ else }}
                    <input type="radio" name="payment-{{ $id }}" value="{{.name}}">
                {{ end }}
                    {{.name}} (${{.price}}) 
                </label> 
            {{ end }}
        </div>
        <div class="spacybutton">
            <a href="javascript: ecwid_add_product_to_cart( {{ $id }}, get_camp_options({{ $id }}));"
                class="btn-small btn-primary">Add to Cart</a>
        </div>
        </center>
        </form>
    {{ end }}
{{ end }}
<p></p>
</div>
