<div class="container p-0 m-0 b-0">
    <h3 align="center">Typical Daily Camp Schedule</h3>
    <div class="row py-1 table-header">
        <div class="col-5 text-center">Time</div>	
        <div class="col-7">Activity</div>
    </div>
    <div class="row py-1">
        <div class="col-5 text-center">&nbsp;8:30 &ndash; &nbsp;9:00</div>
        <div class="col-7">Arrival</div>
    </div>
    <div class="row py-1 table-dark-row">
        <div class="col-5 text-center">&nbsp;9:00 &ndash; &nbsp;10:30	</div>
        <div class="col-7 ">Guided Learning Session</div>
    </div>
    <div class="row py-1">
        <div class="col-5 text-center">&nbsp;10:30 &ndash; 11:00 </div>
        <div class="col-7">Snack</div>
    </div>
    <div class="row py-1 table-dark-row">
        <div class="col-5 text-center">11:00 &ndash; 12:30</div>	
        <div class="col-7">Free Exploration</div>
    </div>
    <div class="row py-1">
        <div class="col-5 text-center">12:30 &ndash; 1:00</div>
        <div class="col-7">Lunch/Half-day morning dismissal/Afternoon arrival</div>
    </div>
    <div class="row py-1 table-dark-row">
        <div class="col-5 text-center">1:00 &ndash; 2:30</div>	
        <div class="col-7">Guided Learning Session</div>
    </div>
    <div class="row py-1">
        <div class="col-5 text-center">2:30 &ndash; 3:00</div>	
        <div class="col-7">Snack</div>
    </div>
    <div class="row py-1 table-dark-row">
        <div class="col-5 text-center">3:00  &ndash;  4:30	</div>
        <div class="col-7">Choice Activity</div>
    </div>
    <div class="row py-1">
        <div class="col-5 text-center">4:30  &ndash;  5:00	</div>
        <div class="col-7">Full-day dismissal</div>
    </div>
</div>