<div class = "container">
    <p><h3>Rules and expectations</h3>
        <ul>
        <li>Chess Club members shall conduct themselves properly, shall avoid excessive noise, 
            and shall not behave in any manner likely to disturb other members. </li>
        <li>Players are required to consume any food or open container beverages on the benches outside the club, 
            under the supervision of the parents before joining the meeting.</li>
        <li>Club equipment is not to be used for any purpose other than playing chess.</li>
        <li>Club members will at all times treat club equipment with care and respect.</li>
        <li>Club members will always emphasize good sportsmanship. 
            No trash talking, vulgar language, criticism of moves in any game in progress is permitted.
            Players and spectators may discuss the game should both players agree. 
            The comments must be constructive.
        </li> 
        <li>Members who display a lack of sportsmanship will be given a verbal warning once, then a written warning 
            will be sent to the member's parents with an explanation of the incident. The third time the member will 
            be asked to leave the Chess Club.</li>
        <li>Members will sincerely congratulate their opponent after a game and reset the chess board.</li>
        <li>Students who have any concerns or complaints should bring the matter up to one of the instructors 
            who will try to resolve the matter.</li>
        </ul>
    </p>
</div>
