{{ $id := .Params.ecwid }}
{{ $spaces := .Params.inventory }}
{{ $price := .Params.price }}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">
            <a href="{{ .RelPermalink }}"><b>
                    {{ .Params.page_title }}
                </b></a>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
            {{ .Params.page_subtitle }}
        </h6>
    </div>
    <div class="card-body">
        Saturday, 10:00 AM - 12:00 AM<br>
        Cost: ${{ $price }}
    </div>
    <div class="card-footer">
        {{ if gt $spaces 0 }}
        <form id="class-{{ $id }}">
            <center>
                {{/* {{ $spaces }} spaces available<br> */}}
                <div class="spacybutton">
                    <a href="javascript: ecwid_add_product_to_cart( {{ $id }}, {});" class="btn-small btn-primary">Add
                        to Cart</a>
                </div>
            </center>
        </form>
        {{ else }}
        No spaces available!
        {{ end }}
    </div>
</div>