{{ $id := .Params.product_id }}

<div
    id = "class-{{ $id }}"
    data-day='{{ delimit .Params.day_tags "#" }}' 
    data-grade='{{ delimit .Params.grade_tags "#" }}' 
    data-subject='{{ delimit .Params.subject_tags "#" }}'
    >
    <div class="card-body">
        <p><b><a href="{{ .RelPermalink }}">{{ .Params.page_title }}</a></b></p>
        <b>{{.Params.start_time}} &ndash; {{.Params.end_time}} on 
            {{ range .Params.day_tags }} {{.}} {{end}}
        </b> <br>
        {{ if eq .Params.difficulty "Bot Builders Elite" }}
            <span class="level-elite"><a href="#elite">
                {{ .Params.difficulty }}
            </a></span>
        {{ else if eq .Params.difficulty "Code Cadets" }}
            <span class="level-cadets"><a href="#cadets">
                {{ .Params.difficulty }}                
            </a></span>
        {{ else if eq .Params.difficulty "Skill Sculptors" }}
            <span class="level-sculptors"><a href="#sculptors">
                {{ .Params.difficulty }}                
            </a></span>
        {{ else if eq .Params.difficulty "Algorithm Architects" }}
            <span class="level-architects"><a href="#architects">
                {{ .Params.difficulty }}                
            </a></span>
        {{ else if eq .Params.difficulty "Foundation Forgers" }}
            <span class="level-forgers"><a href="#forgers">
                {{ .Params.difficulty }}                
            </a></span>
        {{ else if eq .Params.difficulty "Competition" }}
            <span class="level-competition"><a href="#competition">
                {{ .Params.difficulty }}                
            </a></span>            
        {{ else if eq .Params.difficulty "Robo Rookies" }}
            <span class="level-rookies"><a href="#rookies">
                {{ .Params.difficulty }}                
            </a></span>            

        {{ else }}
            <a href="#levels">
            {{ .Params.difficulty }}
            </a>
        {{ end }}
        
        <br>
        Grades: {{ with .Params.grade_tags }}
            {{ if gt (len .) 0 }}
                {{ index . 0 }}
                {{ if gt (len .) 1 }}
                    to {{ index . (sub (len .) 1) }}
                {{ end }}
            {{ end }}
        {{ end }}<br>

        {{/*  <p>{{ .summary | markdownify }} </p>  */}}

        <form id="camp-{{ $id }}">
            <div class="radio-group" >
                {{ range .Params.payment }}
                <label> <input type="radio" name="payment-{{ $id }}" value="{{.name}}" > {{.name}} (${{.price}}) </label>
                {{ end }}
            </div>
        </form>
        <div class="spacybutton">
        <a href="javascript: ecwid_add_product_to_cart(
                    {{ $id }},
                    get_class_options( {{ $id }} ) );"
            class="btn-small btn-primary">Add to Cart</a>
        </div>
    </div>
</div>
