{{ $categories := .Site.Params.ecwid_categories }}
{{ $ecwid_category := index $categories .Params.product_id }}

<div class="ribbon">
<span>{{ .Params.ribbon }}</span>
</div>

<div class="timeribbon">
    <span>{{ .Params.timeribbon }}</span>
    </div>

<div class="joinribbon">
    <span>{{ .Params.joinribbon }}</span>
    </div>
    
{{.Params.start_time}} &ndash; {{.Params.end_time}} on 
    {{ range .Params.day_tags }} {{.}}s {{end}}
<br> 

{{ if eq $ecwid_category "Subscription Classes" }}
    {{ if eq .Params.start_date "" }}
    Join Anytime
    {{ else }}
    {{ .Params.start_date | time | dateFormat "Jan 2, 06" }} to {{ .Params.end_date | time | dateFormat "Jan 2, 06" }}
    {{ end }}
    <br>
{{ end }}

{{ if eq .Params.difficulty "Bot Builders Elite" }}
    <span class="level-elite"><a href="#elite">
        {{ .Params.difficulty }}
    </a></span>
{{ else if eq .Params.difficulty "Code Cadets" }}
    <span class="level-cadets"><a href="#cadets">
        {{ .Params.difficulty }}                
    </a></span>
{{ else if eq .Params.difficulty "Skill Sculptors" }}
    <span class="level-sculptors"><a href="#sculptors">
        {{ .Params.difficulty }}                
    </a></span>
{{ else if eq .Params.difficulty "Algorithm Architects" }}
    <span class="level-architects"><a href="#architects">
        {{ .Params.difficulty }}                
    </a></span>
{{ else if eq .Params.difficulty "Foundation Forgers" }}
    <span class="level-forgers"><a href="#forgers">
        {{ .Params.difficulty }}                
    </a></span>
{{ else if eq .Params.difficulty "Competition" }}
    <span class="level-competition"><a href="#competition">
        {{ .Params.difficulty }}                
    </a></span>            
{{ else if eq .Params.difficulty "Robo Rookies" }}
    <span class="level-rookies"><a href="#rookies">
        {{ .Params.difficulty }}                
    </a></span>            
{{ else if eq .Params.difficulty "Math Maestros" }}
    <span class="level-maestros"><a href="#maestros">
        {{ .Params.difficulty }}                
    </a></span>            
{{ else if eq .Params.difficulty "Robo Researchers" }}
    <span class="level-researchers"><a href="#researchers">
        {{ .Params.difficulty }}                
    </a></span>            
{{ else if eq .Params.difficulty "Syntax Sorcerers" }}
    <span class="level-sorcerers"><a href="#sorcerers">
        {{ .Params.difficulty }}                
    </a></span>            
{{ else }}
    <a href="#levels">
        <font size="+3">
        {{ .Params.difficulty }}
    </font>
    </a>
{{ end }}
<br>
Grades: {{ with .Params.grade_tags }}
    {{ if gt (len .) 0 }}
        {{ index . 0 }}
        {{ if gt (len .) 1 }}
            to {{ index . (sub (len .) 1) }}
        {{ end }}
    {{ end }}
{{ end }}<br>
</p>