{{ $params := .Site.Params.ecwid_ids }}
{{ $inventory := .Site.Params.inventory }}
{{ $categories := .Site.Params.ecwid_categories }}
{{ $prices := .Site.Params.prices }}

{{ $id := index $params .Params.product_id }}
{{ $spaces := index $inventory .Params.product_id }}
{{ $price := index $prices .Params.product_id }}
{{ $ecwid_category := index $categories .Params.product_id }}

<div
    class = "card"
    id = "class-{{ $id }}"
    data-day='{{ delimit .Params.day_tags "#" }}' 
    data-grade='{{ delimit .Params.grade_tags "#" }}' 
    data-subject='{{ delimit .Params.subject_tags "#" }}'
    >
    <div class="card-header">
        <h5 class="card-title">
        <a href="{{ .RelPermalink }}"><b>
        {{ .Params.page_title }}
        </b></a>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
        {{ .Params.page_subtitle }}
        </h6>
    </div>
    <div class="card-body">
        {{ partial "class-info.html" . }}
    </div>
    <div class="card-footer">
        {{ if eq $ecwid_category "Subscription Classes" }}
            {{ partial "subscription-class-footer.html" . }}
        {{ else }}
            {{ partial "session-class-footer.html" .}}
        {{ end }}
    </div>
</div>
