<h4>What is the Aerial Drone Competition?</h4>
    <ul>
      <li>A cutting-edge program that prepares students for careers in drone technology</li>
      <li>Four exciting missions: Teamwork, Autonomous Flight, Piloting Skills, and Communications</li>
      <li>Compete in local, and regional events</li>
    </ul>

    <h2>No prior experience needed! We're looking for students who are:</h2>
    <ul>
      <li>Curious about drones and aviation</li>
      <li>Interested in coding and programming</li>
      <li>Excited to learn piloting skills</li>
      <li>Great at teamwork and communication</li>
      <li>Ready to take on new challenges</li>
    </ul>