{{ $params := .Site.Params.ecwid_ids }}
{{ $inventory := .Site.Params.inventory }}
{{ $categories := .Site.Params.ecwid_categories }}
{{ $prices := .Site.Params.prices }}    
 
<div class="container">
    <div class="row">
        <div class="col">
            <div class="d-flex flex-wrap gap-3 justify-content-around">
                {{ range .Params.meetings }}
                {{ $productID := .product_id }}
                {{ $id := index $params $productID }}
                {{ $spaces := index $inventory $productID}}
                {{ $meetingTime := time.AsTime .meeting }}
                {{ $now := now }}
                {{ $futureMeetingTime := $meetingTime.Add 166400000000000 }}
                {{ if ge ($futureMeetingTime.Unix) ($now.Unix) }}
                    {{ if gt $spaces 0}}
                        <a href="javascript: ecwid_add_product_to_cart({{ $id }}, {});"
                            class=" btn btn-primary m-2 mtgbtnwidth">
                            {{ time.Format "Monday, January 02" $meetingTime }} <br> ${{ index $prices $productID }}
                            {{ if ( isset . "data_item_description" ) }}
                                <br>{{ .data_item_description }}
                            {{ end }}
                        </a>
                    {{ else }}
                        <a href=""
                            class=" btn btn-primary m-2 mtgbtnwidth">
                            {{ time.Format "Monday, January 02" $meetingTime }} <br> ${{ index $prices $productID }}
                            {{ if ( isset . "data_item_description" ) }}
                                <br>{{ .data_item_description }}
                            {{ end }}
                            <br>No spaces available!
                        </a>
                    {{ end }}
                {{ end }}
                {{ end }}
            </div>
        </div>
    </div>   
</div>
