{{ $price := .Params.price | default "0" }}
{{ $data_item_name := .Params.data_item_name | default "Missing Name" }}
{{ $data_item_max_quantity :=  .Params.data_item_max_quantity | default "3" }}    
    
<div class="container">
    {{if .Params.compact}}
    <div class="row">
        <div class="col">
            <div class="d-flex flex-wrap gap-3">
                {{ range .Params.meetings }}
                {{ $meeting_time := time.AsTime .meeting }}
                {{ if ge (sub ($meeting_time.Unix) (now.Unix)) 0 }}        
                <div class="">
                    <button class="snipcart-add-item btn btn-outline-primary m-2"
                    data-item-id= "{{ .data_item_id }}"
                    data-item-price="{{ $price }}"
                    data-item-description="{{ .meeting }}"
                    data-item-name="{{ $data_item_name }}"
                    data-item-max-quantity="{{ $data_item_max_quantity }}">
                    {{ .meeting }}
                    </button>
                </div>
                {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
{{ else }}
    <div class="buttonlist">
    {{ range .Params.meetings }}
        {{ $meeting_time := time.AsTime .meeting }}
        {{ if ge (sub ($meeting_time.Unix) (now.Unix)) 0 }}
        <div class="row">
            <div class="col-4">
                <button class="snipcart-add-item btn btn-outline-primary m-2"
                    data-item-id= "{{ .data_item_id }}"
                    data-item-price="{{ $price }}"
                    data-item-description="{{ .meeting }}"
                    data-item-name="{{ $data_item_name }}"
                    data-item-max-quantity="{{ $data_item_max_quantity }}">
                    {{ time.Format "2 January 2006" $meeting_time }} 
                </button>
            </div>
            <div class="col-4"><span class="btn-description">{{ .data_item_description }}</span></div>
        </div>    
        {{ end }} 
    {{ end }}
{{ end }}    
</div>
