{{ $id := .Params.ecwid }}
{{ $spaces := .Params.inventory }}
{{ $price := .Params.price }}
{{ $ecwid_category := .Params.category }}

{{ if lt $spaces 1 }}
    <div class="fullclass">Class is full</div>
{{ else }}
    {{ $displayButton := false }}
    {{ if eq .Params.start_date "" }}
        <!-- Output if start_date is not set -->
        {{ $displayButton = true }}
    {{ else }}
        <!-- Output if start_date is set -->
        {{ $startDate := .Params.start_date | time }}
        {{ $twoWeeksLater := $startDate.Add (time.Duration "hour" (mul 14 24)) }}
        {{ $currentTime := now }}
        {{ if lt $twoWeeksLater $currentTime }}
            <!-- Output if start_date is in the past -->
                Signups Closed
                {{ $displayButton = false }}
        {{ else }}
            {{ $displayButton = true }}
        {{ end }}
    {{ end }}
    {{ if eq $displayButton true }}
        Monthly Subscription  (${{$price}})                
        <form id="class-{{ $id }}">
            <center>
            {{/*  {{ $spaces }} spaces available<br>  */}}
            <div class="spacybutton">
                <a href="javascript: ecwid_add_product_to_cart( {{ $id }}, {});"
                    class="btn-small btn-primary">Add to Cart</a>
            </div>
            </center>
        </form>
    {{ end }}
{{ end }}