// This file is empty within the template
// You can use it to override CSS from within your project

// Doesn't work here! in _typography.scss
.btn-description {
    font-size:larger;
    font-weight: 1000;
}

   
.card-body {
    font-size: 0.9rem;
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    background-color:rgb(247, 248, 212); 
}
  
  .card-title {
    margin-bottom: var(--bs-card-title-spacer-y);
    color: var(--bs-card-title-color); }
  }

.learn-list {
  list-style-type: "🔔";
  background-color: aqua;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.small-spacer {
  padding-top: 20px;
}

.class-content {
  padding-top: 1rem;
}