{{ define "main" }}

{{ partial "page-header.html" . }}
<div class="container">
    <div class="smallp">
            Blue Ridge Boost is dedicated to empowering the next generation of thinkers and innovators. Our classes in math, coding, and robotics are 
            designed to inspire curiosity, foster creativity, and build life-long skills. 
            <ul>
            <li><b><i>Session-based classes</i></b> have a set schedule with a fixed number of meetings.</li>
            <li><b><i>Monthly subscription classes</i></b> run September - May and June - August.
            Join at any time. After being a subscription member for three 
            months, you'll receive a <b>10% discount</b> on our session-based classes, camps, and events!</li>
            </ul>
        These classes are for ages 6 to 18. Adults classes are available <b><a href="/adults">here</a></b>.
    </div>
    
    {{ partial "class-filters.html" . }}
    
    <div class="class-cards" >
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 rows-cols-lg-4 row-cols-xl-5 g-3"  style="row-gap: 1rem; display: flex; justify-content: center;">
            {{ $pages :=  (where .Site.Pages "Section" "classes") }}
            {{ $pages = sort $pages ".Params.weight" "asc" }}
            {{ range $pages }}
                {{ if eq .Params.layout "list" }}
                {{ else }}
                    {{ partial "class-card" . }}
                {{ end }}
            {{ end }}
        </div>
    </div>

    <!-- Notes Section -->
    <div class="row mt-4">
        <div class="col-12">
            <p>Please note:</p>
            <ul>
                <li>Your card will be charged now and monthly starting with the first day of the second month of classes.</li>
                <li>Subscriptions can be canceled at any time.</li>
                <li>Subscriptions can be rescheduled or transferred to another class.</li>
                <li>No partial refunds are given for the completed charges.</li>
                <li>Make-ups can be scheduled on teacher workdays and other times based on instructor availability.</li>
            </ul>
        </div>
    </div>

    <!-- Footer -->
    <div class="row mt-4">
        <div class="col-12 text-center">
            <p>
                <a href="/privacy-policy">Privacy Policy</a> &middot;
                <a href="/payment-policy">Payment Policy</a> &middot;
                <a href="/refund-policy">Refund Policy</a>.
            </p>
        </div>
    </div>

    {{ .Content }}
</div>
{{end}}