{{ define "main" }}

{{ partial "page-header.html" . }}

<div class="container">
  <p>At Blue Ridge Boost, we are dedicated to empowering the next generation of thinkers and innovators through our comprehensive and engaging educational programs. Our classes in math, coding, and robotics are designed to inspire curiosity, foster creativity, and build critical skills for the future.</p>
  <p><b>Math.</b>
  We believe that long-term success in math comes from understanding fundamental concepts and solving various well-chosen problems. To learn to think like mathematicians, students will be taught how to read a math problem and practice with novel challenges.</p>
  
  <p><b>Computer Coding.</b>
  In our coding programs, students learn to think like programmers as they explore languages such as Python, JavaScript, and more. Algorithmic thinking is at the core of our program, regardless of the student's age or class level.</p>
      
  <p><b>Robotics Classes</b>
  Our robotics classes bring engineering and programming to life. Students build and program their own robots, learning about mechanics, electronics, and automation. These classes encourage teamwork, innovation, and practical application of STEM concepts.</p>
  
  {{ partial "class-filters.html" . }}
  <p></p>
</div>

<!-- Class List -->
<div class="container" id="content-list">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 rows-cols-lg-4 row-cols-xl-4 g-4">
        {{ range sort .Pages "Title" "ASC" }}
            {{ partial "class-card" . }}
        {{ end }}
    </div>
</div>

<div class = "container">
    {{ .Content }}
</div>

{{end}}