{{ define "main" }}

{{ partial "page-header.html" . }}

<div class="container">
    <p>
        At Blue Ridge Boost, we are dedicated to empowering the next generation of thinkers and innovators. Our classes in math, coding, and robotics are 
        designed to inspire curiosity, foster creativity, and build life-long critical skills.
    </p>
    <p>
        <b>Math.</b>
        Long-term success in math comes from understanding fundamental concepts and gaining experience and confidence by solving 
        well-chosen problems. Our classes teach students to think like mathematicians and to 
        developing foundational skills and the ability to approach challenges creatively.
    </p>  
    <p>
        <b>Computer Coding.</b>
        In our coding programs, students learn to think like programmers as they 
        explore programming languages. Developing algorithmic thinking is at the 
        core all of our classes, regardless of the student's age or experience.
    </p>  
    <p>
        <b>Robotics.</b>
        Our robotics classes bring engineering and programming to life. Students 
        build and program their own robots, learning about mechanics, electronics, 
        and automation. These classes encourage teamwork, innovation, and practical 
        applications of STEM concepts.
    </p>

    <!-- Class List -->
    <p>
    {{ partial "class-filters.html" . }}
    </p>
    <div class="class-cards">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 rows-cols-lg-5 row-cols-xl-6 g-4">
            {{ range sort .Pages "Title" "ASC" }}
                {{ partial "class-card" . }}
            {{ end }}
        </div>
    </div>
    {{ .Content }}
</div>

{{end}}