{{ define "main" }}

{{ partial "page-header.html" . }}

<div class="container">

    <p>
        We are dedicated to empowering the next generation of thinkers and innovators. Our classes in math, coding, and robotics are 
        designed to inspire curiosity, foster creativity, and build life-long critical skills. 
    </p>
    <p> Monthly subscription based classes run for the entire academic year and can be joined any time. 
       Session-based classes have a fixed number of meetings.</p>
 <!-- Class List -->
    <p>
    {{ partial "class-filters.html" . }}
    </p>
    <div class="class-cards">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 rows-cols-lg-3 row-cols-xl-3 g-3">
            {{ $pages :=  (where .Site.Pages "Section" "classes") }}
            {{ $pages = sort $pages ".Params.featured" "desc" }}
            {{ $selectedSubject := "" }}
            {{ if isset .Params "selected_subject" }}
                {{ $selectedSubject = .Params.selected_subject }}
            {{ end }}
            {{/*  {{ $selectedSubject := .Params.selected_subject }}  */}}

            {{ range $pages }}
                {{ if eq .Params.layout "list" }}
                {{ else }}
                    {{ partial "class-card" . }}
                    {{/*  {{ if eq $selectedSubject "" }}
                    <h1>Selected Subject {{ $selectedSubject}}</h1>
                        {{ partial "class-card" . }}
                    {{ else }}
                        {{ if in .Params.subject_tags $selectedSubject }}
                            {{ partial "class-card" . }}
                        {{ end }}
                    {{ end }}   */}}
                {{ end }}
            {{ end }}
        </div>
    </div>

    <p></p>
        Please note:
    <ul>
        <li>Your card will be charged on the first day of class or current date if the class is in progress and monthly thereafter.</li>
        <li>Subscriptions can be canceled at any time.</li>
        <li>Subscriptions can be rescheduled or transferred to another class.</li>
        <li>No partial refunds are given for the remainder of the month.</li>
        <li>Make ups can be scheduled on teacher work days and other times based on instructor availability.</li>
    </ul>
</p>

    {{ .Content }}

<p>
</p>
<p align="center"><a href="/privacy-policy">Privacy Policy</a> &middot;
    <a href="/payment-policy">Payment Policy</a> &middot; <a href="/refund-policy">Refund Policy</a>.</p>
</p>

</div>

{{end}}