<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "carousel.html" . }}

	<div class="container">
	  <div class="row">
	    <div class="col-md-7">
	      <font size="+1">
	<b>Upcoming Camps:</b><br>
	<a href="/morningwintercamp">Morning Winter Camp for 6-9 year olds (27-31 December)</a><Br>
	<a href="/afternoonwintercamp">Afternoon Winter Camp for 9-12 year olds (27-31 December)</a><br>
	    </div>
	    <div class="col-md-3">
	<a href="/tutoring"><b>Tutoring</b></a><br>
	<a href="/classes"><b>Future Classes</b></a>
	</font>
	    </div>
	  </div>
	  <div class="row">
	    <p></p>
	    </div>
	</div>
	
	
<!--        {{ partial "features.html" . }}
-->

        {{ partial "testimonials.html" . }}

<!--        {{ partial "see_more.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}
-->
        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
